
h1, h2, h3 {
	/* font-family: sans-serif; */
}

h1, h2, h3 {
	margin-bottom:4px;
	border-bottom: thin solid lightgray;
}

body {
	font-family: sans-serif;
	font-size:12px;
	margin-left:15%;
	margin-right:15%;
}
	
table.manifest {
	padding:10px 5px;
	margin:4px 0 0 0;
	background:#f9f9f9;
	border:1px dashed #c8c8c8;
	font-size:12px;
	width:100%;
}

p {
	white-space:pre-wrap;
}

td.manifestitemname {
	font-weight:bold;
}

a {
	text-decoration:none;
}

a:hover {
	font-color:darkgray;
}

.clickable:hover {
	cursor:pointer;
}

.buildinfo {
	text-size:8px;
	margin: 4px 0 8px 0;
}

.importslist {
	font-color:gray;
}

.exportslist {
	font-color:gray;
}

.importedbylist {
	font-color:gray;
}

.exportedbylist {
	font-color:gray;
}

.provideslist {
	font-color:gray;
}

.consumeslist {
	font-color:gray;
}

.packagelist {
	font-color:gray;
}

.licenselist {
	width:100%;
}

.bundlename {
	font-size:12px;
}

.bundletitle {
	font-size:16px;
}

.bundlelist {
	width:100%;
}

.bundlelistitem {
	width:100%;
}

.bundleversion {
	text-align:right;
	font-size:12px;
}

.bundleconsumes, .bundleprovides, .bundleexports, .bundleimports {
	margin-bottom:4px;
}

.serviceprovider {
	margin-bottom:4px;
}

.manifestitemvalue {
	white-space:pre-wrap;
}

.packagename {
	font-size:12px;
}

.servicename {
	font-size:12px;
}

.servicetitle {
	font-size:16px;
}

.serviceconsumer, .serviceprovider {
	margin-bottom:4px;
}

.ocdname {
	font-size:14px;
	margin-top:20px;
}

.ocddesc {
	margin-top:0;
}

.property {
	margin:8px 0 0 0;
}

.propertyname {
	font-size:12px;
	margin:0 0 4px 4px;
	border-bottom: thin solid lightgray;
}

.propertydesc, .propertydefault {
	margin:0 0 0 4px;
}

.propslist {
	width:100%;
	font-size:12px;
}

.main {
}

.header {
}

.footer {
}

.validationname {
	margin-bottom:4;
}


