/*
so far in this dev phase, these default soa-open theme colors have gone unused:
#494e4e;
#eceded;*/
/****** content section elements ******/
.plain-text-color {
  color: #3d4242;
}
.disabled-text-color {
  color: #7a8484;
}
.disabled-bg-color {
  background: #eceded;
}
.disabled-header-text-color {
  background: #6d6f72;
}
.link-color {
  color: #2f6db5;
}
.box-header-bg-color {
  background: #2f6db5;
}
.box-header-text-color {
  color: #ffffff;
}
.section-header-text-color {
  color: #2f6db5;
}
.input-bg-color {
  background-color: #eceded;
}
.input-border-color {
  border-color: #eceded;
}
.content-bg-color {
  background: #ffffff;
}
.content-border-color {
  border-color: #2f6db5;
}
/***** body ****/
/**** alter the @body-bg line below if you want it to be different from the above @body-bg properties, but please try altering those properties and checking the results first *****/
/****** top navbar *****/
/****** left navbar *****/
/*********** footer *********/
/***** buttons *****/
/*********** wizard step numbers y-positioning *******/
/*********** system icon y-positioning *******/
/*********** empty-behav y-positioning *******/
/******* icons 15px y-positioning ******/
/****** icons 18px y-positioning *****/
/****** button icons y-positioning *****/
/******* "add new" y-positioning **********/
/********* specialty icons y-positioning *******/
/***** more detailed commonly used variables *****/
/***** buttons *****/
.soa-ui-cm-imgtxt {
  background: no-repeat;
  display: block;
  font-size: 0.01em;
  overflow: hidden;
  text-indent: -99999px;
}
body {
  background: none repeat-x 0 0 #ffffff;
  color: #3d4242;
  font: 12px/16px Helvetica, Arial, sans-serif !important;
}
/*h1 {
  background-color: #2f6db5;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 5px 15px;
}*/

h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
h2 {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
h3 {
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
}
p,
ol,
ul {
  padding-bottom: 16px;
}
ol ol,
ol ul,
ul ul,
ul ol {
  padding-bottom: 0;
}
input,
textarea {
  border-radius: 0;
  border: 1px solid #eceded;
  font-family: inherit;
}
input[type="radio"] {
  border: medium none;
}
input[type="checkbox"] {
  border: medium none;
}
a:link,
a:visited,
a:active,
a:hover {
  color: #2f6db5;
  text-decoration: none;
}
a.button {
  display: inline-block;
}
a.button:hover {
  text-decoration: none;
}
button,
a.button,
input.button {
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  background: #ffaa44;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #ffaa44 22%, #ff9009 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ffaa44), color-stop(81%, #ff9009));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #ffaa44 22%, #ff9009 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #ffaa44 22%, #ff9009 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #ffaa44 22%, #ff9009 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #ffaa44 22%, #ff9009 81%);
  /* W3C */

  border: none;
  border-radius: 1px;
  box-shadow: 0 0 3px #999;
  color: #ffffff;
  font: bold 12px/20px Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 0 10px;
  margin-left: 10px;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 1px #b37c1c;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button::-moz-focus-inner,
a.button::-moz-focus-inner,
input.button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button:hover,
a.button:hover,
input.button:hover {
  background: #ffb65e;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #ffb65e 22%, #ff9c23 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ffb65e), color-stop(81%, #ff9c23));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #ffb65e 22%, #ff9c23 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #ffb65e 22%, #ff9c23 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #ffb65e 22%, #ff9c23 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #ffb65e 22%, #ff9c23 81%);
  /* W3C */

  box-shadow: 0 0 3px 1px #999;
  text-shadow: 0 1px 2px #b37c1c;
}
button:active,
a.button:active,
input.button:active {
  background: #ff9009;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #ff9009 22%, #ffaa44 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ff9009), color-stop(81%, #ffaa44));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #ff9009 22%, #ffaa44 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #ff9009 22%, #ffaa44 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #ff9009 22%, #ffaa44 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #ff9009 22%, #ffaa44 81%);
  /* W3C */

  top: 1px;
  left: 0;
}
button.secondary,
a.button.secondary,
input.button.secondary {
  background: #585858;
  background-image: #808080;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #808080 22%, #585858 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #808080), color-stop(81%, #585858));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #808080 22%, #585858 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #808080 22%, #585858 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #808080 22%, #585858 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #808080 22%, #585858 81%);
  /* W3C */

  color: #ffffff;
  text-shadow: 0 -1px 1px #585858;
}
button.secondary:hover,
a.button.secondary:hover,
input.button.secondary:hover {
  background: #8d8d8d;
  background-image: #8d8d8d;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #8d8d8d 22%, #656565 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #8d8d8d), color-stop(81%, #656565));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #8d8d8d 22%, #656565 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #8d8d8d 22%, #656565 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #8d8d8d 22%, #656565 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #8d8d8d 22%, #656565 81%);
  /* W3C */

  text-shadow: 0 1px 1px #585858;
}
button.secondary:active,
a.button.secondary:active,
input.button.secondary:active {
  background: #585858;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #585858 22%, #808080 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #585858), color-stop(81%, #808080));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #585858 22%, #808080 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #585858 22%, #808080 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #585858 22%, #808080 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #585858 22%, #808080 81%);
  /* W3C */

}
button.remove,
a.button.remove,
input.button.remove {
  background: #98191d;
  background-image: #c42026;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #c42026 22%, #98191d 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #c42026), color-stop(81%, #98191d));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #c42026 22%, #98191d 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #c42026 22%, #98191d 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #c42026 22%, #98191d 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #c42026 22%, #98191d 81%);
  /* W3C */

  color: #ffffff;
  text-shadow: 0 -1px 1px #560e11;
}
button.remove:hover,
a.button.remove:hover,
input.button.remove:hover {
  background: #da242a;
  background-image: #da242a;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #da242a 22%, #ae1c22 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #da242a), color-stop(81%, #ae1c22));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #da242a 22%, #ae1c22 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #da242a 22%, #ae1c22 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #da242a 22%, #ae1c22 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #da242a 22%, #ae1c22 81%);
  /* W3C */

  text-shadow: 0 1px 1px #560e11;
}
button.remove:active,
a.button.remove:active,
input.button.remove:active {
  background: #98191d;
  /* Old browsers */

  background-image: -moz-linear-gradient(top, #98191d 22%, #c42026 81%);
  /* FF3.6+ */

  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #98191d), color-stop(81%, #c42026));
  /* Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(top, #98191d 22%, #c42026 81%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(top, #98191d 22%, #c42026 81%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(top, #98191d 22%, #c42026 81%);
  /* IE10+ */

  background-image: linear-gradient(to bottom, #98191d 22%, #c42026 81%);
  /* W3C */

}
button .disabledBtn,
a.button .disabledBtn,
input.button .disabledBtn {
  background: #eceded;
  color: #7a8484;
  padding-bottom: 0;
  text-shadow: none;
}
button .disabledBtn:hover,
a.button .disabledBtn:hover,
input.button .disabledBtn:hover,
button .disabledBtn:active,
a.button .disabledBtn:active,
input.button .disabledBtn:active {
  background: #eceded;
  box-shadow: 0 0 3px #999;
  text-shadow: none;
}
button[disabled],
a.button[disabled],
input.button[disabled] {
  background: #eceded;
  color: #7a8484;
  padding-bottom: 0;
  text-shadow: none;
}
button[disabled]:hover,
a.button[disabled]:hover,
input.button[disabled]:hover,
button[disabled]:active,
a.button[disabled]:active,
input.button[disabled]:active {
  background: #eceded;
  box-shadow: 0 0 3px #999;
  text-shadow: none;
}
button.in-progress,
a.button.in-progress,
input.button.in-progress {
  background: #eceded;
  color: #7a8484;
  padding-bottom: 0;
  text-shadow: none;
}
button.in-progress:hover,
a.button.in-progress:hover,
input.button.in-progress:hover,
button.in-progress:active,
a.button.in-progress:active,
input.button.in-progress:active {
  background: #eceded;
  box-shadow: 0 0 3px #999;
  text-shadow: none;
}
button.in-progress > span,
a.button.in-progress > span,
input.button.in-progress > span {
  background: no-repeat;
  display: block;
  font-size: 0.01em;
  overflow: hidden;
  text-indent: -99999px;
  background: url(images/button-in-progress.gif);
  background-size: contain;
  bottom: 1px;
  height: 3px;
  line-height: 3px;
  margin: 3px auto 0;
  width: 25px;
}
button.borderless,
a.button.borderless,
input.button.borderless {
  background: none;
  border: none;
  box-shadow: none;
  color: #3d4242;
  cursor: pointer;
  font-size: 10px;
  padding-left: 29px;
  text-shadow: none;
}
button.borderless:hover,
a.button.borderless:hover,
input.button.borderless:hover {
  background: none;
  box-shadow: none;
  text-shadow: none;
}
button.borderless .soa-ui-cm-icon:before,
a.button.borderless .soa-ui-cm-icon:before,
input.button.borderless .soa-ui-cm-icon:before {
  background-image: url("images/sprites_cm_open_system_2683b4.png");
  height: 20px;
  left: -30px;
  top: -3px;
  width: 30px;
}
.soa-ui-cm-content-header button.borderless,
.soa-ui-cm-content-header a.button.borderless,
.soa-ui-cm-content-header input.button.borderless {
  color: #ffffff;
  padding-left: 20px;
}
.soa-ui-cm-content-header button.borderless .soa-ui-cm-icon:before,
.soa-ui-cm-content-header a.button.borderless .soa-ui-cm-icon:before,
.soa-ui-cm-content-header input.button.borderless .soa-ui-cm-icon:before {
  background-image: url("images/sprites_cm_open_button.png");
  left: -26px;
}
button.page-level,
a.button.page-level,
input.button.page-level,
button.form-control,
a.button.form-control,
input.button.form-control {
  line-height: 25px;
}
button.page-level.soa-ui-cm-button-in-progress,
a.button.page-level.soa-ui-cm-button-in-progress,
input.button.page-level.soa-ui-cm-button-in-progress,
button.form-control.soa-ui-cm-button-in-progress,
a.button.form-control.soa-ui-cm-button-in-progress,
input.button.form-control.soa-ui-cm-button-in-progress {
  line-height: 10px;
  padding: 7.5px 10px 1px;
}
button.item,
a.button.item,
input.button.item {
  /*line-height: 15px;*/

}
.soa-ui-cm-buttons-in-progress button.item,
.soa-ui-cm-buttons-in-progress a.button.item,
.soa-ui-cm-buttons-in-progress input.button.item {
  background: url(images/tablebutton-in-progress.gif) no-repeat center center;
  box-shadow: none;
  color: transparent;
  display: none;
  padding: 0;
  text-shadow: none;
  width: 16px;
}
.soa-ui-cm-buttons-in-progress button.item > span,
.soa-ui-cm-buttons-in-progress a.button.item > span,
.soa-ui-cm-buttons-in-progress input.button.item > span {
  display: none;
}
.soa-ui-cm-dynamic-docs {
  display: none;
}
