/**** Enterprise API Platform document.css ****/

body {
	background: none repeat-x 0 0 #ffffff;
	color: #3d4242;
	font: 12px/16px Helvetica, Arial, sans-serif !important;
	margin: 0px;
/*	font-family: OpenSans; CANNOT GET THIS TO WORK NEED HELP FROM JH 1/7/20 TO REFERENCE OPEN SANS.
	src: url(fonts/OpenSans-Regular.ttf);*/
}

p { /*copying property from base.css 1/9/20 GW. But instead of 16 bottom, 2 at top and 2 at bottom.*/
	padding-top: 2px;
	padding-bottom: 14px;
}

ul {
  list-style: disc outside none;
  padding-bottom: 16px; /*copying property from base.css 1/9/20 GW*/
}
ol {
  list-style: decimal outside none;
  padding-bottom: 16px; /*copying property from base.css 1/9/20 GW*/
}

ul, ul li, ol, ol li {
    margin-left: 13px;
    padding-left: 8px;
}

ul li, ol li {
	padding-bottom: 5px; 
}

ul li p, ol li p{ /*list item subsequent paragraph less space above. Copied from .apidocContent ul li p 6/19/18 GW*/
	padding-top: 5px;
	padding-bottom: 3px;
}

h1 { /*12/20/19 add properties from reset.css and theme.css per docs site inspection. Note font-size was 21px now 150% GW... 2/2/21 update font size, input from AmyK, to 1.6em*/
	margin: 0;
	border: 0;
	font: inherit;
	text-rendering: optimizelegibility;
	font-weight: bold;
	vertical-align: baseline;
	font-size: 1.6em;
	color: #2f6db5;
	line-height: normal;
	padding: 3px 0 12px 0;
}
h2 { /*12/20/19 add properties from reset.css and theme.css per docs site inspection. Note font-size was 17px now 135% GW... 2/2/21 update font size, input from AmyK, to 1.4em*/
	margin: 0;
	border: 0;
	font: inherit;
	text-rendering: optimizelegibility;
	font-weight: bold;
	vertical-align: baseline;
	color: #2f6db5;
	font-size: 1.4em;
	line-height: normal;
	padding: 16px 0 8px 0;
}
h3 { /*12/20/19 add properties from reset.css and theme.css per docs site inspection. Note font-size was 17px now 125% | color was 000000 now 2f6db5 GW... 2/2/21 update font size, input from AmyK, to 1.2em*/
	margin: 0;
	border: 0;
	font: inherit;
	text-rendering: optimizelegibility;
	font-weight: bold;
	color: #2f6db5;
	font-size: 1.2em;
	padding-bottom: 7px;
	line-height: normal;
	padding: 10px 0 5px 0;
}
h4 { /*12/20/19 add properties from reset.css and theme.css per docs site inspection. Note font-size was 14px now 105% | color was 000000 now 2f6db5 GW... 2/2/21 update font size, input from AmyK. to 1.1em*/
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	text-rendering: optimizelegibility;
	font-weight: bold;
	color: #2f6db5;
	font-size: 1.1em;
	line-height: normal;
	padding: 9px 0;
}
h5 { /*2/6/20 adding a definition for h5. Bold with a little bit of space. Color from theme.css. GW*/
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	text-rendering: optimizelegibility;
	font-weight: bold;
	line-height: normal;
	color: #2f6db5;
	padding: 14px 0 10px 0;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #cccccc;
  word-wrap: break-word;
  font-style: italic;
}
blockquote p {
	font-size: 100%;
	font-weight: 300;
	padding-bottom: 0px;
	line-height: 1;
}
hr { /*Added with JH 4/26/19. To replace div tags coded with divider1, use hr instead, and remove divider1, above, from css. Also note mod to divider1 to make it more generic, not just inside a documentation tag. 12/19/19 adding top and bottom padding values since default is too much. That didn't fix it, added top and bottom margin, that fixed it. Results are identical. Removed divider1 tag from css.*/
	border: none;
	border-bottom: 1px solid gray;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*---------- Definition list styles (glossary, field descriptions) ----------*/

dl { /*definition list*/
	font-size: 12px
}

dl dt { /*glossary term*/
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 3px;
}

dl dd { /*glossary definition*/
	font-size: 12px;
	padding-bottom: 12px;
	padding-left: 18px;
}

.index { /* Added w/JH 4/26/19 for alphabar on glossary. Each inline index letter.*/
	border-bottom: 1px solid #2f6db5;
	padding-bottom: 3px;
	margin-bottom: 10px;
}

.index_nav { /* Added w/JH 4/26/19 for alphabar on glossary. Top nav alphabar.*/
	padding-bottom: 3px;
	padding-left: 0;
	margin-bottom: 10px;
	margin-left: 0;
}

.index_nav li { /* Added w/JH 4/26/19 for alphabar on glossary. Each letter on top nav alphabar*/
	display: inline;
	border-left: 1px solid #2f6db5;
	margin-left: 1px;
	padding-top: 5px;
	margin-right: 5px;
	font-weight: bold;
}

.index_nav li:first-child { /* Added w/JH 4/26/19 for alphabar on glossary. Exclude first letter on top nav alphabar*/
	border: none;
}


/*---------- End Definition list styles ----------*/

/*---------- Core shared styles brought to basic definitions 5/7/18----------*/

pre { /*Message and code samples. Scroll bar. 5/17/18 removing pre from supportContent and apiDoc. Using API doc color as the gray is used in tables*/
	background: #F8F4EE;
	font-family: "Courier New", Courier, monospace;
	font-size: 11px;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 10px;
	padding-left: 2px;
	overflow-x:auto;
	line-height: 15px;
}


/*---------- End Core shared styles brought to basic definitions 5/7/18----------*/


/*---------------------------------------- End of basic styles section ----------------------------------------*/

/*---------------------------------------- API docs / security doc: apidoc.css styles ----------------------------------------*/
/*---------- API docs / security doc: paragraph styles ----------*/

.apidocContent p {
	display: block;
	font-size: 12px;
	color: #000;
	padding-bottom: 6px;
	padding-top: 0;
}

span.apidoc_code { /*span tag for inline code formatting*/
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}

p.apidoc_note { /*Notes in paragraphs: pale gray background*/
	font-size: 12px;
	background-color: #F6F6F6;
	padding: 11px;
	display:block;
}

.apidoc_note { /*span tag for note in procedures: pale gray background*/
	font-size: 12px;
	background-color: #F6F6F6;
	padding: 11px;
	display:block;
}

p.apidoc_image_p { /*For images: Extra overflow property gives scroll bar*/
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	overflow-x:auto;
}

.apidoc_image_p { /*span tag for images in procedures, with display:block.*/
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	overflow-x:auto;
	display:block;
}

.apidoc_overflow { /*Scroll bar below images. Inline style.*/
	overflow-x:auto;
}

.apidoc_p_subsequent {
	font-size: 12px;
	line-height: 16px;
	color: #000000;
	padding-bottom: 3px;
}

p.apidoc_backtotop { /* horiz rule for below back to top lines */
	border-bottom: 1px solid gray; 
	padding-top: 12px;
	padding-bottom: 8px;
	font-size: 12px;
	line-height: 12px;
	color: #000000;
}

span.apidoc_requestelementname { /*bold for request element name per wireframe design*/
	color: #000000;
	font-weight: bold;
}

span.apidoc_requestvalue { /*green 00693C for request value per wireframe design*/
	color: #00693C;
}

span.apidoc_red { /*temporary style for draft documents. F00 red, FFF white*/
	color: #F00;
}

.sampleresponse { /*To apply to http line for flexibility*/
	color: #000;
}

/*---------- API docs / security doc: code styles ----------*/

div.apidoc_div_codeendpoint { /*endpoint only: green monospace on pale gray background, scroll bar*/
	padding: 2px;
	MARGIN: 2px;
	BACKGROUND: #F8F4EE;
	font-family: "Courier New", Courier, monospace;
	color: #00693C; /*green 00693C per wireframe design*/
	font-size: 11px;
	overflow-x:auto;
	padding-top: 8px;
	padding-bottom: 6px;
}

pre.soaapidoc_endpoint { /* 5/15/13 to replace div tag on endpoint definition*/
	padding: 2px;
	MARGIN: 2px;
	BACKGROUND: #F8F4EE;
	font-family: "Courier New", Courier, monospace;
	color: #00693C;
	font-size: 11px;
/*	overflow-x:auto;*/ /*Commenting out 5/15/13 to see how it is in the UI. Overflow property was a solution to the center panel resizing issue now fixed*/
	padding-top: 8px;
	padding-bottom: 8px;
}

/*---------- API docs / security doc: list styles ----------*/

.apidocContent ol, .apidocContent ol li { /*first-level ordered list style.*/
	list-style-type: decimal;
}

.apidocContent ol li ol li{ /*second-level ordered list style.*/
	list-style-type: lower-alpha;
}

.apidocContent ul li ul li, .apidocContent ol li ul li{ /*second-level unordered list style*/ 
	list-style-type: circle;
}

.apidocContent ol li p{ /*ordered list item subsequent paragraph less space above. Font info included for RH output.*/
	font-size: 12px;
	line-height: 16px;
	padding-top: 2px;
	padding-bottom: 4px;
}

.apidocContent ul {
	padding-bottom: 3px;
}

.apidocContent ul li p{ /*unordered list item subsequent paragraph less space above.*/
	line-height: 16px;
	padding-top: 2px;
	padding-bottom: 4px;
}

/*---------- API docs / security doc: table styles ----------*/

.tableparmsresponse { /*table for request and response parameters*/
	padding: 2px;
	width: 98%;
	text-align: left;
	padding-bottom: 14px;
}

th.apidoc_th { /*table header font and alignment only, for tables without lines*/
	font-size: 11px;
	text-align: left;
	vertical-align:top;
	color: #000000;
}

.tableparmsresponse th { /*table header for parameter table*/
	border: 1px solid #000000;
	font-size: 11px;
	text-align: left;
	vertical-align:top;
	color: #000000;
	background-color: #F8F4EE;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.tableparmsresponse td { /*table text*/
	border: 1px solid #000000;
	font-size: 11px;
	vertical-align: top;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
}

.tableparmsresponse tr td p{ /*table text subsequent paragraphs*/
	font-size: 11px;
	vertical-align: top;
	padding-top: 0px;
	padding-right: 2px;
	padding-bottom: 0px;
	padding-left: 1px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	line-height: 14px;
}

ul.apidoctable_ul, ul.apidoctable_ul li, ol.apidoctable_ol, ol.apidoctable_ol li { /*Styles for lists within tables, less spacing, added 12/7/12)*/
	font-size: 11px;
	vertical-align: top;
	margin-top: -1px;
	margin-bottom: -2px;
	margin-left: 6px;
	padding-left: 5px;
}

ol.apidoctable_ol, ol.apidoctable_ol li { /*Added 1/18/13 since reset.css removed numbers.*/
	list-style-type: decimal;
}

/*-----------------Enterprise API Platform CSS for Platform Online Help -----------------*/

div.documentation .divider1{
		height: 1px;
		background-color: gray;
		font-size: 0;
		width: 100%;
		overflow: hidden;
}

div.documentation ol.table_of_contents > li {
       list-style-image: url("images/arrow.png");
}
div.documentation ul.table_of_contents li {
       list-style-image: url("images/arrow.png");
}
div.documentation #markdown-toc {
	margin: 0;
	padding: 0 0 16px;
}
div.documentation #markdown-toc li {
       background: url("images/arrow.png") no-repeat 0 2px;
       padding-left: 17px;
       margin: 0;
       list-style: none;
}
div.documentation #markdown-toc ul {
		margin-left: 0;
		padding: 5px 0 0;
}

div.documentation #toc-marker + ul {
	margin: 0;
	padding: 0 0 16px;
}
div.documentation #toc-marker + ul li {
       background: url("images/arrow.png") no-repeat 0 2px;
       padding-left: 17px;
       margin: 0;
       list-style: none;
}
div.documentation #toc-marker + ul li:last-child {
	padding-bottom: 0;
}
div.documentation #toc-marker + ul ul {
		margin-left: 0;
		padding: 5px 0 0;
}

div.documentation .usingOrderedList>li>ul, div.documentation .usingUnorderedList>li>ul {
	margin-left: 0;padding-left: 20px;padding-bottom: 0;
}
div.documentation .usingUnorderedList, div.documentation .usingUnorderedListNormal {
list-style: square;
	
}
/* Community Manager Platform Online Help - Table Styles */

div.documentation table.doctable{
		padding: 2px;
		width: 98%;
}
div.documentation table.doctable tr.t1row{
		background-color: #cfd1d2;
}

div.documentation table.doctable th{
		font: 12px/16px Helvetica,Arial,sans-serif;
		text-align: left;
		text-decoration: none;
		vertical-align: top;
		color: #fff;
		text-transform: none;
		font-weight: bold;
		background-color: #3d4242;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
}

div.documentation table.doctable tr,div.documentation table.doctable thead{
		padding-right: 10px;
}

div.documentation table.doctable tr:nth-child(even){
		background: #cfd1d2;
}

div.documentation table.doctable tr:nth-child(odd){
		background: #fff;
}

div.documentation table.doctable td{
		font: 12px/16px Helvetica,Arial,sans-serif;
		text-align: left;
		vertical-align: top;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
}

/*---------- Additional table styles added 6/19/18 GW to fix spacing issues ----------*/

div.documentation table.doctable tr td p{ /*table text subsequent paragraphs (based on .tableparmsresponse tr td p, added 6/19/18 GW)*/
	margin-bottom: 4px;
	padding-bottom: 2px;
	}

div.documentation table.doctable td p ul, td p ol, td ul, td ol { /*list within table cell, added 6/19/18 GW)*/
	padding-bottom: 2px;
	margin-bottom: 2px;
	line-height: 14px;
}

div.documentation table.doctable td p ul li, td p ol li, td ul li, td ol li { /*list item within table cell, added 6/19/18 GW)*/
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 1px;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	line-height: 14px;
}

/*---------- End additional table styles added 6/19/18 to fix spacing issues ----------*/


/* Platform Online Help - supportContent */

.supportContent>h3.apidoc_h3 {
	padding-bottom: 0;
}
.supportContent td {
    padding: 10px;
}
.supportContent td p {
    padding: 0 0 15px;
}

/* Override default - Table Styles */
table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  border-collapse: collapse;
  border-spacing: 0;
  padding-bottom: 16px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
  box-sizing: border-box;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}
table th {
  background-color: #3d4242;
  color: #fff;
  font-weight: bold;
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
td, th {
  display: table-cell;
  vertical-align: inherit;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

/*---------------------------------------- Added w/JH 3/9/18 begin section ----------------------------------------*/

.relatedlinks {/*used for related topics links at the bottom of files so table is not needed. 3/9/18*/
	display: -ms-flexbox;
	display: flex;
}
.relatedlinks > ul {
	padding-left: 35px;
}
.relatedlinks > ul:first-child {
	padding-left: 8px;
}
.alignbottom {/*aligns text to bottom in table rows (center is default) 3/9/18*/
	vertical-align: text-bottom;
}
/*---------------------------------------- Added w/JH 3/9/18 end section ----------------------------------------*/


/*---------- Version Stamp restored 12/18/19 from a 2/23/16 file version see ATMO-31110 ----------*/
.stamp {
            border: 1px solid #B0B0B0;
            color: #909090;
            font-size: 75%;
            padding: 3px;
            display: inline-block;
            font-weight: normal;
            margin-bottom: 5px;
}

/*---------- Added 9/22/21 for ATMO-37940 for Flare project ----------*/
p.Note {
	width: 90%;
	background-color: #F5F7F9;
	border-left: 6px solid #404040;
	background-color: #F6F6F6;
	padding: 8px;
	display: block;}


/*---------------------------------------- Change log started 12/19/19 ----------------------------------------*/
/*5/8/18     removed everything with editable in it. Per JH it's for allowing doc edit in portal context.*/
/*12/19/19   Remove divider1 tag. We now use hr instead.*/


/*1/9/20     For ul (line 19) and ol(line 23), copying padding-bottom 16px from base.css GW*/
/*1/9/20     Adding p tag (line 12) with padding-bottom 14px and padding-top of 2px. To resolve spacing issue with pre and line tags GW*/


/* 1/24/20    Minor mod (line 469) to remove the "nth-child" fix JH had suggested. Adding a space had fixed the css validation error and it was unnecessary to add the td after the tr. Shading is for a row.*/
/* 2/6/20    Added definition for h5 (lines 88-98) GW*/
/* 2/10/20   To h5, added color def #2f6db5 from GitHub theme.css so SVN matches Git (line 96) GW*/