::-webkit-input-placeholder {
  color: #494e4e;
  font-style: italic;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #494e4e;
  font-style: italic;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #494e4e;
  font-style: italic;
}
:-ms-input-placeholder {
  color: #494e4e;
  font-style: italic;
}
document {
  height: 100%;
}
.soa-ui-dc- {
  /***** icons, image replacement ****/
  /**** scaffolding *****/
  /****** top area *****/
  /****** content area ******/
}
.soa-ui-dc-clearthis:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.soa-ui-dc-before-load {
  min-height: 1024px;
}
.soa-ui-dc-button {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background: #fff;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ffffff), color-stop(81%, #e6e6e6));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #ffffff 22%, #e6e6e6 81%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #ffffff 22%, #e6e6e6 81%);
  /* W3C */
  border: 1px solid;
  border-color: #ccc #ccc #b3b3b3;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #333;
  font: 12px/20px Helvetica, Arial, Sans-serif;
  margin: 0;
  padding: 2px 10px 1px;
  text-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.soa-ui-dc-button:hover {
  background: #e6e6e6;
  box-shadow: none;
  text-shadow: none;
}
.soa-ui-dc-button:active {
  background-image: -moz-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #e6e6e6), color-stop(81%, #ffffff));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #e6e6e6 22%, #ffffff 81%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #e6e6e6 22%, #ffffff 81%);
  /* W3C */
}
.soa-ui-dc-button:focus {
  outline: none;
}
.soa-ui-dc-button-borderless {
  border: none;
  border-radius: 0;
}
.soa-ui-dc-button-close.soa-ui-dc-icon-imgtxt {
  background: none;
  border: 1px solid #b4b3b3;
  cursor: pointer;
  padding: 0;
  text-indent: 0;
  height: 13px;
  width: 13px;
}
.soa-ui-dc-button-close.soa-ui-dc-icon-imgtxt:before {
  color: #b4b3b3;
  content: "X";
  display: block;
  font-size: 10px;
  line-height: 12px;
}
.soa-ui-dc-buttons {
  list-style: none;
}
.soa-ui-dc-buttons > li {
  display: inline-block;
}
.soa-ui-dc-icon {
  position: relative;
}
.soa-ui-dc-label-hidden {
  display: none;
}
.soa-ui-dc-icon:before,
.soa-ui-dc-icon-imgtxt {
  background: url(images/DC-Sprites_icons.png) no-repeat;
  content: ".";
  display: block;
  font-size: 0.01em;
  overflow: hidden;
  text-indent: -99999px;
}
.soa-ui-dc-icon:before,
.soa-ui-dc-icon-imgtxt {
  height: 30px;
  left: -20px;
  position: absolute;
  top: 0;
  width: 27px;
}
.soa-ui-dc-icon-imgtxt {
  left: auto;
  position: static;
  top: auto;
}
.soa-ui-dc-icon-document:before,
.soa-ui-dc-icon-document.soa-ui-dc-icon-imgtxt {
  background-position: center -200px;
}
.soa-ui-dc-icon-pdf:before,
.soa-ui-dc-icon-pdf.soa-ui-dc-icon-imgtxt {
  background-position: center -145px;
}
.soa-ui-dc-icon-document-20px:before,
.soa-ui-dc-icon-document-20px.soa-ui-dc-icon-imgtxt,
.soa-ui-dc-icon-pdf-17px:before,
.soa-ui-dc-icon-pdf-17px.soa-ui-dc-icon-imgtxt {
  background-position: center -101px;
  height: 20px;
  left: -10px;
  top: -6px;
  width: 26px;
}
.soa-ui-dc-icon-action-dark:before,
.soa-ui-dc-icon-action-dark.soa-ui-dc-icon-imgtxt {
  height: 18px;
  background-position: center -23px;
  left: -26px;
  width: 16px;
}
.soa-ui-dc-icon-action-light:before,
.soa-ui-dc-icon-action-light.soa-ui-dc-icon-imgtxt {
  background-position: center -62px;
  height: 16px;
  left: -7px;
  top: -3px;
  width: 16px;
}
.soa-ui-dc-icon-pdf-17px:before,
.soa-ui-dc-icon-pdf-17px.soa-ui-dc-icon-imgtxt {
  background-position: center -750px;
}
.soa-ui-dc-container-top,
.soa-ui-dc-container-main {
  margin: 0 auto;
  position: relative;
  width: 1024px;
}
.soa-ui-dc-container-top {
  height: 130px;
}
.soa-ui-dc-homepage .soa-ui-dc-container-top {
  height: 102px;
}
.soa-ui-dc-container-main {
  margin-bottom: 30px;
  margin-top: 15px;
}
.soa-ui-dc-container-main-left,
.soa-ui-dc-container-main-content {
  float: left;
}
.soa-ui-dc-container-main-left {
  padding-right: 23px;
  width: 205px;
}
.soa-ui-dc-container-main-content {
  width: 819px;
}
.soa-ui-dc-top-bar-wrapper {
  background: #F8F8F8;
  border-bottom: 1px solid #252525;
  margin-bottom: 0px;
}
.soa-ui-dc-top-bar-wrapper .top-bar {
  position: relative;
  max-width: 1130px;
  margin: 0 auto;
  padding-bottom: 15px;
  min-height: 104px;
}
.soa-ui-dc-logo {
  float: left;
  padding-left: 53px;
  margin-top: 28px;
}
.soa-ui-dc-topnav {
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-topnav-wrapper {
  position: absolute;
  width: 850px;
  top: 0;
  margin-left: 102px;
}
.soa-ui-dc-topnav-container {
  left: 156px;
  position: absolute;
  top: 13px;
}
.soa-ui-dc-topnav-item {
  float: left;
  margin: 0;
  padding: 0 0 0 25px;
}
.soa-ui-dc-topnav-item:first-child {
  padding: 0;
}
.soa-ui-dc-topnav-item-active:after {
  content: "";
  position: absolute;
  top: 39px;
  margin-left: 40px;
  border-left: 1px solid grey;
  height: 12px;
}
.soa-ui-dc-topnav-item-link {
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  margin-bottom: 25px;
}
a.soa-ui-dc-topnav-item-link {
  color: #989798;
}
.soa-ui-dc-topnav-item-link-firstword {
  display: block;
}
a.soa-ui-dc-topnav-item-link:hover,
.soa-ui-dc-topnav-item-active a.soa-ui-dc-topnav-item-link {
  color: #e8262a;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-icon {
  background: url(images/DC-Sprites_product-icons.png) no-repeat;
  padding-left: 35px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-icon:before {
  content: none;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-apigateway {
  background-position: 0 -626px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-apigateway:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-apigateway {
  background-position: 0 -463px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-communitymanager {
  background-position: 0 -680px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-communitymanager:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-communitymanager {
  background-position: 0 -517px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-lifecyclemanager {
  background-position: 0 -734px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-lifecyclemanager:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-lifecyclemanager {
  background-position: 0 -571px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-soaplatform {
  background-position: 0 -985px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-soaplatform:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-soaplatform {
  background-position: 0 -930px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-envision {
  background-position: 0 -1235px;
}
.soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-envision:hover,
.soa-ui-dc-topnav-item-active .soa-ui-dc-topnav-item-link.soa-ui-dc-topnav-item-link-envision {
  background-position: 0 -1180px;
}
.soa-ui-dc-subnav {
  list-style: none;
  margin: 0;
  padding: 2px 0 0;
}
.soa-ui-dc-subnav-item {
  float: left;
  margin: 0;
  padding: 0 55px 0 110px;
}
.soa-ui-dc-subnav-item:first-child {
  padding: 0 0 0 55px;
}
a.soa-ui-dc-subnav-item-link {
  color: #a3a5a1;
  font-size: 15px;
  font-weight: bold;
}
a.soa-ui-dc-subnav-item-link:hover,
a.soa-ui-dc-subnav-item-link.soa-ui-dc-subnav-item-link-active {
  color: #2f6db5;
}
.soa-ui-dc-subnav-container {
  left: 157px;
  position: absolute;
  border-top: 1px solid grey;
  padding-top: 4px;
  top: 63px;
  padding-left: 26px;
}
.soa-ui-dc-topsearch {
  background: #fff;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid grey;
}
.soa-ui-dc-topsearch-input {
  border: none;
  height: 21px;
  width: 134px;
  margin-bottom: 0;
  padding-left: 5px;
}
.soa-ui-dc-topsearch-container {
  position: absolute;
  right: 0;
  margin-top: 34px;
  margin-right: 40px;
  z-index: 99;
}
.soa-ui-dc-topsearch-button,
.soa-ui-dc-topsearch-button:hover,
.soa-ui-dc-topsearch-button:active {
  width: 25px;
  height: 25px;
  background: #2f6db5 url(images/DC-Sprites_icons.png) center -247px;
  border-radius: 3px;
  box-shadow: none;
  display: inline-block;
  margin: 0;
}
.soa-ui-dc-content-header {
  background: none;
  color: #2f6db5;
  font-size: 17px;
  padding: 0 0 14px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon {
  background: url(images/DC-Sprites_product-icons.png) no-repeat;
  color: #cb2026;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  height: 46px;
  line-height: 20px;
  padding-left: 53px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon:before {
  content: none;
}
.soa-ui-dc-content-header.soa-ui-dc-icon-firstword {
  display: block;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-soaplatform {
  background-position: 0 -790px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-communitymanager {
  background-position: 0 -44px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-apigateway {
  background-position: 0 -114px;
}
.soa-ui-dc-content-header.soa-ui-dc-icon.soa-ui-dc-content-header-lifecyclemanager {
  background-position: 0 -184px;
}
.soa-ui-dc-content-header-details {
  display: inline-block;
  vertical-align: super;
}
.soa-ui-dc-content-header-details-dt,
.soa-ui-dc-content-header-details-dd {
  display: inline;
}
.soa-ui-dc-content-header-details-dt {
  font-style: italic;
  padding-left: 17px;
}
.soa-ui-dc-content-header-details-dt:after {
  content: ":";
}
.soa-ui-dc-content-nav {
  border-top: 2px solid #acabab;
  list-style: none;
  margin: 0;
  padding: 22px 0;
}
.soa-ui-dc-content-nav-item {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 20px 0 20px;
  width: 200px;
}
.soa-ui-dc-content-nav-item:first-child {
  padding: 0 0 0 10px;
}
.soa-ui-dc-content-nav-item-link {
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 46px;
  line-height: 20px;
  width: 155px;
}
a.soa-ui-dc-content-nav-item-link {
  color: #989798;
}
.soa-ui-dc-content-nav-item-link-firstword {
  display: block;
  padding-top: 3px;
}
.soa-ui-dc-content-nav-item-link:before {
  content: none;
}
a.soa-ui-dc-content-nav-item-link:hover,
.ui-tabs-active .soa-ui-dc-content-nav-item-link {
  color: #e8262a;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-icon {
  background: url(images/DC-Sprites_product-icons.png) no-repeat;
  padding-left: 53px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-soaplatform {
  background-position: 0 -860px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-soaplatform,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-soaplatform:hover {
  background-position: 0 -790px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-communitymanager {
  background-position: 0 -254px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-communitymanager,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-communitymanager:hover {
  background-position: 0 -44px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-apigateway {
  background-position: 0 -324px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-apigateway,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-apigateway:hover {
  background-position: 0 -114px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-envision {
  background-position: 0 -1110px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-envision,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-envision:hover {
  background-position: 0 -1040px;
}
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-lifecyclemanager {
  background-position: 0 -394px;
}
.ui-tabs-active .soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-lifecyclemanager,
.soa-ui-dc-content-nav-item-link.soa-ui-dc-content-nav-item-link-lifecyclemanager:hover {
  background-position: 0 -184px;
}
.soa-ui-dc-content-catalog-item {
  border-top: 1px solid #c0bfbf;
  list-style: none;
  margin: 0;
  padding: 16px 0 0;
}
.soa-ui-dc-content-catalog-subheading {
  border-top: 1px solid #c0bfbf;
  background-color: #ebeced;
  height: 50px;
  list-style: none;
  margin: 0;
  padding: 16px 0 0;
}
.soa-ui-dc-content-catalog-subheading h3 {
  font-size: 14px;
  font-weight: bold;
  font-family: helvetica;
  color: #7d7e7f;
  padding: 0 0 0 47px;
}
.soa-ui-dc-content-catalog-items {
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-detail-column {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0 0 0 65px;
  width: 364px;
}
.soa-ui-dc-detail-column:first-child {
  padding: 0;
  width: 294px;
}
.soa-ui-dc-detail-column-header {
  background: #eeeff0;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #eeeff0), color-stop(81%, #dcddde));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #eeeff0 22%, #dcddde 81%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #eeeff0 22%, #dcddde 81%);
  /* W3C */
  font-size: 17px;
  font-weight: bold;
  font-weight: normal;
  padding: 6px 10px 5px 41px;
}
.soa-ui-dc-detail-column-header .soa-ui-dc-icon:before {
  top: 1px;
}
.soa-ui-dc-detail-column-item {
  list-style: none;
  margin: 0;
  padding: 10px 0 10px 20px;
}
.soa-ui-dc-detail-column-item-link {
  display: block;
  padding-left: 20px;
}
.soa-ui-dc-detail-column-item-link.soa-ui-dc-icon:before {
  top: -5px;
}
.soa-ui-dc-detail-column-item-link.soa-ui-dc-icon.soa-ui-dc-icon-action-light:before {
  top: -2px;
}
.soa-ui-dc-detail-column-items {
  margin: 0;
  padding: 10px 0 0 0;
}
.soa-ui-dc-detail-columns {
  margin: 0;
  padding: 0;
}
.soa-ui-dc-footer {
  text-align: center;
  margin: 0;
  padding: 50px 0 10px;
}
.soa-ui-dc-footer-item {
  border-left: 1px solid #6d6e71;
  color: #6d6e71;
  display: inline;
  font-size: 10px;
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
}
.soa-ui-dc-footer-item:first-child {
  border: none;
  margin: 0;
  padding: 0;
}
a.soa-ui-dc-footer-item-link {
  color: #6d6e71;
}
a.soa-ui-dc-footer-item-link:hover {
  text-decoration: underline;
}
.soa-ui-dc-container-main-left-header {
  color: #7d7e7f;
  font-size: 13px;
  padding: 0;
}
a.soa-ui-dc-container-main-left-header-link {
  background: #eeeeef;
  /* Old browsers */
  background-image: -moz-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #eeeeef), color-stop(81%, #dddedf));
  /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* Chrome10+,Safari5.1+ */
  background-image: -o-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* Opera 11.10+ */
  background-image: -ms-linear-gradient(top, #eeeeef 22%, #dddedf 81%);
  /* IE10+ */
  background-image: linear-gradient(to bottom, #eeeeef 22%, #dddedf 81%);
  /* W3C */
  border-bottom: 1px solid #c6c5c6;
  border-radius: 1px 1px 0 0;
  color: #7d7e7f;
  display: block;
  padding: 6px 12px;
}
.soa-ui-dc-container-main-left-nav {
  background: #ebeced;
  border-radius: 0 0 1px 1px;
  font-size: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.soa-ui-dc-container-main-left-nav-item {
  color: #7d7e7f;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
.soa-ui-dc-container-main-left-nav-item-selected {
  font-weight: bold;
}
.soa-ui-dc-container-main-left-nav-item-selected .soa-ui-dc-container-main-left-nav-inner {
  display: block;
}
a.soa-ui-dc-container-main-left-nav-item-link {
  border-bottom: 1px solid #c6c5c6;
  color: #7d7e7f;
  display: block;
  padding: 6px 12px;
}
.soa-ui-dc-container-main-left-nav-inner a.soa-ui-dc-container-main-left-nav-item-link {
  background: none;
  border: none;
}
.soa-ui-dc-container-main-left-nav-inner {
  border-bottom: 1px solid #c6c5c6;
  font-weight: normal;
  padding-left: 5px;
  display: none;
}
.soa-ui-dc-document-type {
  padding: 0;
}
.soa-ui-dc-section-header,
.soa-ui-dc-section-paragraph {
  color: #444949;
  font-size: 12px;
  margin: 0;
  padding: 0 0 16px 0;
}
.soa-ui-dc-section-header {
  font-weight: bold;
  padding-bottom: 5px;
}
.soa-ui-dc-2col-with-avatar .soa-ui-dc-avatar-box,
.soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box {
  float: left;
}
.soa-ui-dc-2col-with-avatar .soa-ui-dc-avatar-box {
  width: 27px;
}
.soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box {
  padding-left: 20px;
  width: 524px;
}
.soa-ui-dc-user-item .soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box .soa-ui-dc-buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.soa-ui-dc-inline-search-div {
  background: #fff;
  border-radius: 3px;
  padding: 20px 12px;
  position: absolute;
  right: 0;
  top: 29px;
  width: 700px;
}
.soa-ui-dc-inline-search-div:before {
  background: url(images/pointer.png) no-repeat;
  height: 10px;
  left: auto;
  right: 72px;
  top: -9px;
  width: 20px;
}
.soa-ui-dc-inline-search-div .soa-ui-dc-content-header {
  color: #2f6db5;
  font-size: 17px;
  padding: 0 0 0 12px;
}
.soa-ui-dc-inline-search-div .soa-ui-dc-section-paragraph {
  padding-bottom: 8px;
}
.soa-ui-dc-inline-search-div .soa-ui-dc-content-catalog-item {
  border: none;
}
.soa-ui-dc-inline-search-div .soa-ui-dc-content-catalog-items {
  width: 585px;
}
.soa-ui-dc-inline-search-div .soa-ui-dc-2col-with-avatar .soa-ui-dc-details-box {
  padding-left: 6px;
  width: 530px;
}
.soa-ui-dc-inline-search-div-no-results {
  padding: 16px 12px 6px;
  width: 140px;
}
.soa-ui-dc-inline-search-div-no-results .soa-ui-dc-section-paragraph {
  font-size: 13px;
  text-align: center;
}
.soa-ui-dc-inline-search-div-no-results .soa-ui-dc-content-header {
  display: none;
}
.soa-ui-dc-inline-search-div .soa-ui-dc-buttons {
  position: absolute;
  top: 5px;
  right: 6px;
}
.soa-ui-dc-overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  background: #333;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .3;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 98;
}
.soa-ui-dc-overlay-visible {
  display: block;
}
pre {
  padding: 10px 20px !important;
  margin: 10px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.07) inset;
}
code {
  white-space: normal;
}

.gsc-selected-option-container {
  min-width: 80px !important;
}

.gsc-above-wrapper-area {
  display: none !important;
}

.gsc-adBlock {
  display: none !important;
}

.gsc-resultsHeader {
  display: none !important;
}

.gsc-table-result {
  padding-bottom: 0px !important;
  font-family: Helvetica , Arial, Sans-serif !important;
  font-size: 12px !important;
  color: #3d4242 !important;
}

.gsc-table-result tr {
  border-top: none !important;
}

.gsc-table-cell-snippet-close {
  border: none !important;
}

.gs-result .gs-title, .gs-result .gs-title * {
  color: #2f6db5 !important;
  font-size: 14px !important;
  font-family: Helvetica , Arial, Sans-serif !important;
  text-decoration: none !important;
}

.gsc-webResult {
  border: none !important;
}

.gs-visibleUrl.gs-visibleUrl-short { display:none;  }
.gs-visibleUrl.gs-visibleUrl-long { display:block;  }
.gs-webResult div.gs-visibleUrl-long { display: block !important; }

.gsc-cursor {
  font-size: 12px !important;
}
