body, h4, h6 {
    font-family: sans-serif;
}

.info-title {
    font-weight:700;
    font-size:25px;
    border:none;
    margin-bottom:0px;  
}

.info-fullname {
    margin-top:2px;
}

.model {
    margin-top:16px;
}

div.operation {
    margin-top:8px;
}

div.operation.POST {
    background-color: #e7f6ec;
    border: 1px solid #c3e8d1;
}

div.operation.GET {
    background-color: #e7f0f7;
    border: 1px solid #c3d9ec;
}

div.operation.PUT {
    background-color: #f9f2e9;
    border: 1px solid #f0e0ca;
}

div.operation.DELETE {
    background-color: #f5e8e8;
    border: 1px solid #e8c6c7;
}

/*
div.operation.PUT span.http_method a {
    background-color: #c5862b;
}
*/

.light {
    color: #999;
}

.operation {
    padding-left:8px;
    border-radius:2px;
}

.operation-heading {
    margin-left: 0px;
}

.operation-heading h5 {
    margin-bottom: 6px;
    margin-top:8px;
}

.operation-detail {
    margin-left: 0px;
    margin-bottom: 8px;
    border-top: thin solid lightgray;
}

.operation-detail h5 {
    margin-bottom: 4px; 
}

.underline {
    border-bottom: thin solid lightgray;
}

.underline h6 {
    margin-bottom: 4px;
}

.link {
    color: #428bca;
}

.boxed {
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.api-list-item {
}

.api-footer {
    margin-top:8px;
}

.api-response-property {
    margin-left:8px;
}

.api-parameter-property {
    margin-left:8px;
}

.hidden {
    display: none;
}

small {
    color:#cccccc;
}

.pull-right {
    margin-right:8px;
}

