/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@charset "utf-8";

/* reset all of the default settings that the browser uses */
html, body, h1, h2, h3, h4, p, ol, ul, li, a {
   padding: 0;
   border: 0;
   margin: 0;
}

/* Foundation for the two columns */
#wrapper {
    margin-left: 250px;  
}

.content {
  float: right;
  width: 100%;
  background-color: #FFFFFF;
}
.TOC {
  float: left;
  width: 200px;
  margin-left: -250px;
  background-color: #F2F7F8;
}

#cleared {
  clear: both;
}
/* TOC styles */

.toc2 {
	font-size: 12px;
}

.toc3 {
	font-size: 11px;
}

.toc4 {
	font-size: 10px;
    margin: 0 0 0 35px;	
}


/* Akana styles */

/* Defines a new release section.
   Needs no formatting*/
.New {}

.supID {
   font-size: 11px;
   margin: 0 0 0 30px;
   color: #002B49;	
}

.issue {
   font-size: 11px;
   margin: 0 0 0 30px;
}

/* Used for supID content copied from Word */
.supID-from-word {
   font-size: 11px;
   margin: 0 0 0 0px;
   color: #002B49;		
}

/* Generated review copies display this */
.source {
	font-size: 12px;
	margin: 0 0 0 30px;
    font-size: 11px;	
}
/* Used for ATMO content copied from Word */
.source-hide {
	color: #ff0000;
    display: none;
	font-size: 2px;	
}

.hidden {
    display: none;
}

.review_status {
	color: #006400;
	font-size: 11px;	
}

.note {
	 color: #5293AD;
	 font-weight:normal;
	 margin:15px 5px 15px 35px;
	 display:block;
}

/* Overriding the Jira styles */
.syntaxplugin 
{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin: 0 0 0 40px;	
	padding: 3px;
    background-color: #EBF5FB;
    color: #2471A3;
	font-size: 12px;
	border-color: #EBF5FB !important;
	overflow: hidden !important;
}

/* Overriding the Jira styles */
#syntaxplugin {
	border-color: #ffffff !important;	
}

/* Setting confluence built-in style */
.error {
	color: red;
}

.code
{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin: 0 0 0 40px;	
	padding: 3px;
    background-color: #EBF5FB;
	border-color: #EBF5FB;	
    color: #2471A3;
	font-size: 12px;
	white-space: pre;
	overflow: hidden;
}

.code-inline
{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding: 3px;
	border-color: #EBF5FB;	
    color: #2471A3;
	font-size: 13px;
	white-space: pre;
}

p.red {
	font-size: 14px;
	margin: 0 0 0 30px;
	line-height: 1.7em;
	color: #F9081F;
}
.red-inline {
	color: red;
}
.red {
	color: red;
}
.rw-dark-blue {
	color: #002B49;
}
.white {
	color: #ffffff;
}
.centered {
	text-align: center;
}

.small {
	font-size: 10px;
}
   
.Bullet1 {
/* undefined */	
}
 
/* define how links should look */
/* links */
a:link:active  { color: blue; text-decoration: none; }
a:link:hover, a:visited:hover { color:red; text-decoration: underline; }
a:link         { color: blue; text-decoration: none;  }
a:visited      { color: blue; text-decoration: none; }
   
body{
   font-family: 'Open Sans',sans-serif;
   font-size: 14px;
   padding: 1em 1em 1em 1em;
   margin: 0 0 0 0px;	
}

body.small {
	font-size: 10px;
	color: #EC0E11;
}

body.background {
   background-color: #EFF4F8;
}

p {
   font-size: 14px;
   margin: 0 0 0 30px;
   line-height: 1.7em;	
}

/* overrides the default, very small p style. Use like this: <p class="large">    */
p.large {
   font-size: 14px;
   margin: 0 0 0 30px;
   padding: 10px;
   line-height: 1.6em;
}

/* Colors as per corporate spec RGB 38, 96, 146   */
h1 {
	color: #266092;
	font-family: 'Open Sans',sans-serif;
	font-size: 40px;
	font-weight: 200;
}

h2 {
	color: #266092;
	font-family: 'Open Sans',sans-serif;
	font-size: 30px;
	font-weight: 200;	
    border-bottom: 1px solid #CCCCCC;
    margin: 50px 0 10px 0;
   }
   
h3 {
	color: #266092;
	font-family: 'Open Sans',sans-serif;
	font-size: 26px;
	font-weight: 200;
    margin: 35px 0 5px 15px;
    border-top: 1px solid #CCCCCC;
}

h4 {
	color: #266092;
	font-family: 'Open Sans',sans-serif;
	font-size: 22px;
    font-style: italic;
	font-weight: 200;
    margin: 20px 0 5px 20px;

}

h5 {
	color: #266092;
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	font-weight: 200;
    margin: 10px 0 5px 20px;
}

h6 {
	color: #002B49;
	font-family: 'Open Sans',sans-serif;
	font-size: 15px;
	font-weight: 400;
	font-style: italic;
    margin: 10px 0px 5px 30px;
	text-align: left;	
}

ul {
      margin: 0 0 0 40px;
      padding: 0 0 0 10px;
      line-height: 1.7em;	
}

ol {
      margin: 0 0 0 40px;
      padding: 0 0 0 10px;
      line-height: 1.7em;	
}

table, th, td {
    border-collapse: collapse;
	border: 1px solid #fffff;
	font-size: 13px;
	color: #264d73;
    padding: 3px;
    margin-left: 30px;
	text-align: left;
}

/* Custom Akana table because Confluence uses the regular table for its code style */
.table-akana, th, td {
    border-collapse: collapse;
	border: 1px solid #fffff;
	font-size: 13px;
	color: #264d73;
    padding: 3px;
    margin-left: 30px;
	text-align: left;
}

/* Override imported Confluence table heading */
.confluenceTh {
    text-align: left !important;
    border-collapse: collapse;	
	font-size: 14px;
	border: 1px solid #a3a3a3;
    padding: 3px;	
}

.confluenceTd {
    text-align: left !important;
    border-collapse: collapse;	
	font-size: 14px;
	border: 1px solid #a3a3a3;
}

.confluenceTable {
    border: 0px #a3a3a3 !important;		
}
