
.navbar {
    background-color: #f8f8f8;
    border-bottom-color: #cccccc;
    border-radius: 0;
}

.navbar-text {
    font-size: 20px;
}
	
table.manifest {
	padding:10px 5px;
	margin:4px 0 0 0;
	background:#f9f9f9;
	border:1px dashed #c8c8c8;
	width:100%;
}

pre {
}

td.manifestitemname {
	font-weight:bold;
}

a {
	text-decoration:none;
}

a:hover {
	font-color:darkgray;
}

.clickable:hover {
	cursor:pointer;
}

.buildinfo {
	text-size:8px;
	margin: 4px 0 8px 0;
}

.importslist {
	font-color:gray;
}

.exportslist {
	font-color:gray;
}

.importedbylist {
	font-color:gray;
}

.exportedbylist {
	font-color:gray;
}

.provideslist {
	font-color:gray;
}

.consumeslist {
	font-color:gray;
}

.packagelist {
	font-color:gray;
}

.licenselist {
	width:100%;
}

.bundlename {
}

.bundletitle {
}

.bundlelist {
	width:100%;
}

.bundlelistitem {
	width:100%;
}

.bundleversion {
	text-align:right;
}

.bundleconsumes, .bundleprovides, .bundleexports, .bundleimports {
	margin-bottom:4px;
}

.serviceprovider {
	margin-bottom:4px;
}

.manifestitemvalue {
	white-space:pre-wrap;
}

.packagename {
}

.servicename {
}

.servicetitle {
}

.serviceconsumer, .serviceprovider {
	margin-bottom:4px;
}

.ocdname {
	margin-top:20px;
}

.ocddesc {
	margin-top:0;
}

.property {
	margin:8px 0 0 0;
}

.propertyname {
	margin:0 0 4px 4px;
	border-bottom: thin solid lightgray;
}

.propertydesc, .propertydefault {
	margin:0 0 0 4px;
}

.propslist {
	width:100%;
}

.main {
}

.header {
}

.footer {
}

.ml4 {
	margin-left: 4px;
}

.pl8 {
    padding-left: 8px;
}

.pb4 {
    padding-bottom: 4px;
}

.validationname {
	margin-bottom:4;
}

.column h5 {
	 margin-bottom:0px;
}

.index-title {
	border-bottom: thin solid lightgray;
}

.error-code {
	padding-top:4px;
	padding-bottom:4px;
}


