body {margin: 0; padding: 0;}

ul {padding:0;margin:0;margin-left:20px;}
.list-holder  li { list-style-position:outside; }
.banner-holder {margin-top:70px;}
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
.swiper-slide {
	float:left;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	margin:0 auto;
}
.text h1 {
	margin-top:-12px;
}
.fix-well {
	background-color:white!important;
	margin-top:0!important;
	border:none;
	border-top:none;
}
.img-center {
	display: block;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}


.right {
	float:right;
	text-align:right;
}
input {
	margin-bottom:10px;
}
.fix-h2-clear {
	margin-top:0!important;
}
.green-bg {
	background-color:#8ab939!important;
}
.orange-bg {
	background-color:#f47936!important;
}
.goldenrod-bg {
	background-color:#f5b418!important;
}
.test {
	height:40px;
	display:block;
	background-color:green;
}
.main-banner {

}
.main-banner {
	background:#F5B418;
	background-color:#2f6db5;
	border-bottom:#44484b 20px solid;
}
.accelerate {
	background-color:#f5b418;
}
.mobile {
	background-color:#2b7ad7;
}
.container-grid-footer {
	height:200px;
	display:block;
	margin-bottom:10px;
}
.body {
	color:#696969;
	font-family: helvetica, arial, tahoma, sans-serif;
	background:#FFF;
	overflow-x:hidden;
}
hr.styled {
	height: 2px;
	border: 0;
	box-shadow: inset 0 12px 12px -14px rgba(0, 0, 0, 0.5);

}
hr.styled1 {
	height: 1px;
	border: 0;
	box-shadow: inset 0 12px 12px -14px rgba(0, 0, 0, 0.5);
}

#grey-box-holder img{padding-top:20px;}

#grey-box-holder {text-align:center;}

.view-holder a {color:#cccccc!important;padding:10px;font-size:12px;display:block;}

.anchors {
	margin-top:60px;
	display:block;
	width:100px;
	height:50px;
}
.contact span {
	display:block
}
.margin-fix {

	color: #696969;
}
.img-box img {
	margin:0 auto;
}
.navbar .container .navbar-header .navbar-brand {
	color: #292929;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar.navbar-inverse .nav > li.active > a {
	color: #2B80FF;
}

.navbar.navbar-inverse .nav li:last-child a {
    background-color: #2f6db5;
    color: #FFF;
}

.navbar.navbar-inverse .nav li:last-child a {
    background-color: #2f6db5;
    color: #FFF;
    transition-duration: 250ms;
}
.navbar.navbar-inverse .nav li:last-child a:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #FCC212;
}

#nav-sign-up {
	background-color: #E74B3B;
	color: #FFF;
	transition-duration: 250ms;
}

#nav-sign-up:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: #FCC212;
}

 .navbar-brand {height:104px;}

 .navbar.navbar-inverse .container .navbar-header .navbar-brand img {
    max-width: 340px;
}


 .cloud-bg h1 {
 text-align: center;
font-family: 'Source Sans Pro',sans-serif;
font-weight: 700;
font-size: 32px;
color: #004581;
line-height: 34px;
margin: 10px;
 border-bottom: none;

 margin:0 auto;
 padding-top:40px;
 padding-bottom:20px;
 }

.special-api-row {width:850px;margin:0 auto;}

 .cloud-bg .container {

  background:url('http://soatest.soa.com/images/landing-clouds.jpg');
  background-size:1400px;
background-repeat:no-repeat;
 }


 .api-p  strong{
 font-size:18px;
 padding-bottom:20px;
 display:block;

 }

 .navbar .container {
 padding:0 20px;


 }



/*tablets portrait shoot for 768 */
@media (min-width: 768px) and (max-width: 991px) {
.navbar .container {
 padding:0 40px;


}

.carousel-holder {
 padding:0 40px;

}

.ipad-pad {
 padding:0 40px;


}



}


/*tablets landscape shoot for 1024*/
@media (min-width: 992px) and (max-width: 1199px) {
.navbar .container {

padding:0 40px;
}

.carousel-holder {

padding:0 40px;
}

.ipad-pad {

padding:0 40px;
}

}






























 .float-right {float:right;  }

.icons_img {width:150px;}


.img-holder {text-align:center;padding:10px;margin:10px;}


.page-icon {
	float:left;
	margin-right:10px;
}


.border-top {border-top:2px solid #999;padding:10px 0;}

.csb-holder h2 {
border-bottom:none;
padding-top:0px;
padding-bottom:0px;

}


 .center
text-align:center;
}



.dropdown-menu p {
	margin:0 20px;
	color:#cfe3f2;
	font-size:11px;
	line-height:15px;
	margin-bottom:15px;
}
a {
	color:#2f6db5;
}
.swiper-container {
	width: 80%;
	height: 95px;
	color: #fff;
	text-align: center;
}
.swiper-slide .title {
	font-style: italic;
	font-size: 42px;
	margin-top: 80px;
	margin-bottom: 0;
	line-height: 45px;
}
.swiper-slide p {
	font-style: italic;
	font-size: 25px;
}
.pagination {
	position: absolute;
	z-index: 20;
	left: 10px;
	bottom: 10px;
}
.swiper-pagination-switch {
	display: inline-block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #555;
	margin-right: 5px;
	opacity: 0.8;
	border: 1px solid #fff;
	cursor: pointer;
}
.swiper-active-switch {
	background: #fff;
}
.swiper-scrollbar {
	width: 100%;
	height: 4px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	margin-top:16px;
}
.well {
	margin-bottom: 0px;

	background-color: #f5f6f5;
	border-bottom:#999 2px solid;
}
.well2 {
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #f5f6f5;
	border-bottom:#DEDEDE 2px solid;
}
#footer {
	margin-top: 0px;
}
#showcase .features_op1_row .feature .img_box:hover img {
	border-radius: 0;
	opacity: 1;
	filter: alpha(opacity=1);
	box-shadow: none;
}
.center img {margin-top:40px!important;}


.bg-grey-bottom, .bg-grey2 {
border-bottom:2px solid #999;

}



.border-csb {border-top:2px solid #999;margin:0 15px;}

.navbar-inverse .navbar-nav > .dropdown > a:hover .caret {
	border-top-color: #FFF;
	border-bottom-color: #FFF;
}
.extended-dropdown {
	position: absolute;
	left:0;
	top: 100%;
	width:500%;
	background-color: rgba(8, 8, 8, 0.6);
	z-index:1000;
	display:none;
	border-radius: 0 6px 6px 6px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.189);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.189);
	padding-top:16px;
	padding-bottom:16px;
}
.extended-dropdown ul {
	list-style: none;
	display: inline-block;
}
.navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
/*  background:#8F8F8F; */
}
.extended-dropdown li a {
	color:#FFFFFF;
	display:block;
	padding: 3px 20px;
	clear: both;
	white-space: nowrap;
	border-radius: 3px;
}
.extended-dropdown li a:hover {
	color:#FFF;
	background-color:rgba(8, 8, 8, .47);
}
.extended-dropdown > .active > a, .extended-dropdown > .active > a:hover, .extended-dropdown > .active > a:focus {
	background-color: #FFF;
	color:#2B80FF;
}
.dd-bg {
	background-color:rgba(130, 130, 135, .9);
	padding:8px 12px 8px 6px;
	margin-top: -6px;
	margin-left:6px;
	margin-right:6px;
	margin-bottom: -10px;
	border-radius:0 6px 6px 6px;
}
.dd-bg {
	background:none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.extended-dropdown li a {
	color:#333;
	display:block;
	padding: 3px 20px;
	clear: both;
	white-space: nowrap;
	border-radius: 3px;
}
.extended-dropdown li a:hover {
	color:#FFF;
	background-color: #333;
}
#features .pad-sides128 {
	margin-left:0;
	margin-right:0;
}
}
.top48 {
	margin-top:48px;
}
.ipe {
	margin-bottom: 0px;
	padding: 28px 36px 28px 36px;
	line-height: 1.6;
	font-size:16px;
}
.ipe h4 {
	background: #ed1f24;
	padding: 4px;
}
.ipe h4 > img {
	margin-right: 8px;
}
.ipe-wrap {
	width:100%;
	background-color: #FFF;
	margin-bottom: 0px;
	margin-top: 0px;
	height: 100%;
	padding-bottom: 12px;
	padding-top: 12px;
	color:#696969;
}
.ipe-header {
	font-weight: 300;
	font-style: italic;
	font-size:18px;
	color: #696969;
}
.swipe-more {
	font-size: 16px;
	font-style: italic;
	margin-left: 16px;
	color:#646464;
	display:block;
	font-family: 'Lato', sans-serif !important;
	font-weight: 300;
}
.section-wrap {
    margin-top: 0px;
    width: 100%;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);

}
.greyBar {
	position:relative;
	top: -55px;
}
.orangeBar {
	position:relative;
	top: -38px;
}
.nav .navbar-nav li {
	font-size:24px;
}
.events-wrap {
	margin-top:0;
	padding:12px;
	background-color: #F5F5F5;
	border-radius:6px;
	border:#DEDEDE 1px solid;
}
.top-msg {
	text-align: left;
	font-size: 16px;
	color:#696969;
	display: block;
	line-height: 1.6;
}
#footer li a:hover {
	text-decoration: underline;
}
.swiper-container img {
	<!--margin-top:12px;-->
}
#footer li {
	text-indent: -10px;
	line-height: 1.495;
}
.clients-wrapper {
	border-radius:0px;
	-moz-border-radius: 0px;
	margin-top: 0;
	margin-bottom: 10px;
	box-shadow: none;
	-webkit-box-shadow: none;
	padding-bottom:8px;
}
.clients-container {
	width:62%;
	margin:0 auto;
}
.swiper-btn {
	position:absolute;
	top:50%;
	cursor:pointer;
	z-index:1;
}
.arrow-left {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #428bca;
	left:16%;
}
.arrow-right {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid #428bca;
	right:16%;
}
.arrow-left-active {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #f23c3a;
}
.arrow-right-active {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left:10px solid #f23c3a;
}
.panel-info {
	position:absolute;
	left:0;
	bottom:24px;
	height:100%;
}
.panel-info-mid {
	position:absolute;
	right:0;
	bottom:24px;
	height:100%;
}

.info ul {
margin-bottom:20px


}



.main-slider-btn:hover {
	background:#f23c3a;
	border:#F02828 1px solid;
}
article.slide {
	font-size:18px;
	line-height:1.8;
	color:#696969;
}
article.slide-light {
	background:#E5E5E5;
}
article.slide-dark {
	background:#0d4c78;
	color:#FFF;
}
article.slide-healthcare {
	background:#6CCFF6;
}
article.slide-fintech {
	background:#276892;
}
article.slide h3 {
	color:#f23c3a;
}
.slider-subcap-lightbg {
	color:#696969;
	display:block;
	font-size:18px;
	font-weight:normal;
}
.slider-subcap-darkbg {
	color:#FFF;
	display:block;
	font-size:18px;
	font-weight:normal;
}
.img_box {
	border-radius:0px;
}

.img-responsive {display:inline-block;
}


.img-fix img{width:160px;}

.center {text-align:center;}
.left-padder {padding-left:40px;}


.well h2 {margin-top:0;}


#small-banner {
	display:none;
	margin-top:48px;
	background-color:#E5E5E5;
	background:url(img/slides/static/homepage-static-banner-v2-1024x500.jpg) no-repeat left center;
	height:180px;
	background-size:cover;
}
.static-banner-text {
	position:absolute;
	right:48px;
	top:98px;
	width:50%;
	height:100%;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #2f6db5;
}
 @media (max-width:1024px) {
	 .clients-container {
	height:69px!important;
	.navbar-header {margin-left:19px!important;background-color:red;}


}
	 .swiper-container {
	height:69px!important;
	}
}
@media (max-width:1366px) {
	 .clients-container {
	height:69px!important;
	}
	 .swiper-container {
	height:69px!important;
	}
}
@media (max-width:768px) {
	body {
	}
	 .clients-container {
	height:45px!important;
	}
	 .swiper-container {
	height:45px!important;
	}
}
 @media (max-width: 767px) {
	 #small-banner {
	 display:block;
	}
}
 @media (max-width: 767px) {
	.arrow-left {
	 left:3%;
	}
	.arrow-right {
	 right:3%;
	}
}
 @media (max-width: 1024px) {
	 .clients-container {
	 width:78%;
	 margin:0 auto;
	 height:95px;
	}
}


#image-links { display:block; padding:0;margin:0;}


#image-links:after
{
	content:' ';
	display:block;
	clear:both;
}



#image-links li  {float:left; list-style-type:none;}
#image-links li a: {display:inline-block; margin-right:30px;}
#image-links li a:hover {}

<!--
gg: media break point-->


@media (max-width: 1024px) {
 .navbar.navbar-inverse {
 background: #F8F8F8;
}
 .navbar-toggle {
 background: #333;
}
}
 @media (max-width: 1024px) {
	.navbar.navbar-inverse .nav > li > a {
	margin-right: 3px;
	font-size: 11px!important;
	}
	 .extended-dropdown {
	 position: relative;
	 left:0;
	 width:100%;
	 background:none;
	 padding-right:16px;
	 -webkit-box-shadow: none;
	 box-shadow: none;
	}
}
.nav {
	margin-top:31px!important;
}
.nav li a {
	cursor:pointer;
}
.footer-call-to-action, .call_action {
	margin:40px 0;
	background-color:#efefef;
	padding:40px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align:center;
}





html {
	margin: 0;
}
body {
	background-color:#F5F5F5;
	background-color:white;
	position: relative;
	-webkit-font-smoothing: antialiased;
	font-family: helvetica, arial, tahoma, sans-serif;
	padding-top: 104px;
	line-height: 20px;
}
body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
	font-weight: bold;
	color: #2f6db5;
	text-rendering: optimizelegibility;
}
body h1 {
	font-size:1.6em; /*2/3/2021 update font size from 150% to 1.6em*/
	color: #2f6db5;
}
body h2 {
	font-size:1.4em; /*2/3/2021 update font size from 150% to 1.4em*/
	color: #2f6db5;
}
body h3 {
	font-size:1.2em; /*2/3/2021 update font size from 125% to 1.2em*/
	color: #2f6db5;
}
body h4 {
	font-size:1.1em; /*2/3/2021 update font size from 105% to 1.1em*/
	color: #2f6db5;
}
body h5 {
	font-size:100%;
	color: #2f6db5;
}
body h6 {
	font-size:90%;
	color: #2f6db5;
}
a:hover {
	text-decoration: none;
}
input[type="text"], input[type="password"], input[type="submit"], textarea {
	font-family: 'Lato', Helvetica;
}
body.pull_top {
	padding-top: 0px !important;
}
header {
	background: rgba(0, 0, 0, 0.6) !important;
}
/* Navbar
-------------------------------------------------- */
.dropdown-menu>li>a {
	padding:3px 10px!important;
	color:#fff;
}
.navbar-nav>li>.dropdown-menu {
	border-top-right-radius:6px;
	border-top-left-radius:6px;
	margin-top:3px!important;
}
.dropdown-menu ul li {
	color:white;
}
.dropdown-menu ul li a {
	font-size:12px;
	line-height:10px;
	color:white;
}
.dropdown-menu ul li a:hover {
	font-size:12px;
	color:white;
	text-decoration:underline;
}
.dropdown-menu li ul {
	list-style-type: none;
	padding-left: 0px;
}
.navbar {
	padding: 0px;
}
.navbar.navbar-inverse {
	background: #F8F8F8;
	border-bottom: 1px solid #585858;
}
.navbar.navbar-inverse.navbar-static-top {
	background-color: #252528;
}
.navbar.navbar-inverse.navbar-static-top .container {
	margin-top: 0;
	margin-bottom: 0;
}
.navbar.navbar-inverse .nav > li > a {
	margin-right:3px; /* also effects the dropdown */
	font-size: 12px;
	font-weight: bold;
	color: #2f6db5;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	/*       -webkit-transition: all .3s linear;
      -moz-transition: all .3s linear;
      transition: all .3s linear; */
      padding: 10px 10px 10px;
	text-decoration: none;
}

.navbar.navbar-inverse .nav > li:last-child > a {
	margin-left: 5px;
}

.navbar.navbar-inverse .nav > li > a:hover, .navbar.navbar-inverse .nav > li > a:active {
	color: #FFF;
	background-color:#2f6db5;
}
.navbar.navbar-inverse .nav > li.active > a {
	color: #fff;
	background-color:#8F8F8F;
}
.navbar.sticky {
	background: #F8F8F8;
	border-bottom: 1px solid #252525;
}
.navbar.sticky .container {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.navbar .container {
  /*  gg margin-top: 10px;
    margin-bottom: 10px; */
    -webkit-transition: margin .2s ease-in-out;
 -moz-transition: margin .2s ease-in-out;
 transition: margin .2s ease-in-out;
}
.navbar .container .navbar-header .navbar-brand {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	font-size: 20px;
	margin-left: -30px;
	padding: 10px 20px 10px;
}
.navbar .container .collapse .nav .dropdown .caret {
	margin-bottom: 4px;
}
.navbar .container .collapse .nav .dropdown .dropdown-menu {
	background: #696969;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin-top: 2px;
}
.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a {
	color: #fff;
}
.navbar .container .collapse .nav .dropdown .dropdown-menu > li > a:hover {
	background: #3f91c9;
}
.section_header {
	width: 100%;
	margin-bottom: 60px;
}
.section_header h3 {
	color: #646464;
	font-weight: 300;
	font-style: italic;
	font-size: 27px;
	border-bottom: 1px solid #b3b3b3;
	padding-bottom: 0px;
	display: inline-block;
	margin: 0;
}
.navbar .container .collapse .nav .dropdown .dropdown-menu {
	background: #696969;
	border-radius:0 6px 6px 6px;
	margin-top: 0;
	right:auto;
	left:0;
}
ul.dropdown-menu {
	background-color:#2f6db5!important;
	padding-right: 18px;
}
.img-box {
	padding:10px;
	height:160px;
	-webkit-box-shadow: 4px 7px 12px 0px rgba(105, 105, 105, 0.6);
	-moz-box-shadow: 4px 7px 12px 0px rgba(105, 105, 105, 0.6);
	box-shadow: 4px 7px 12px 0px rgba(105, 105, 105, 0.6);
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-raduis:6px;
	border: 1px solid #CCC;
}
.img-box-small {
	padding:10px;
	-webkit-box-shadow: 4px 7px 12px 0px rgba(105, 105, 105, 0.6);
	-moz-box-shadow: 4px 7px 12px 0px rgba(105, 105, 105, 0.6);
	box-shadow: 4px 7px 12px 0px rgba(105, 105, 105, 0.6);
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-raduis:6px;
	border: 1px solid #CCC;
	height:160px;
}
.img-box-small.in-the-news {
	height: 100px;
}
.img-container {
	text-align:center;
	width:345px;
	margin:0 auto;
}
#features .option2 {
	margin-bottom: 70px;
}
#features .option2 .feature {
	margin-bottom: 70px;
}
#features .option2 .feature .box {
	text-align: center;
	float: left;
	width: 16%;
	height: 77px;
}
#features .option2 .feature .box img.one {
	margin-top: 18px;
}
#features .option2 .feature .box img.two {
	margin-top: 20px;
}
#features .option2 .feature .text {
	float: left;
	width: 76%;
	margin-top: 17px;
	margin-left: 23px;
}
#features .option2 .feature .text h6 {
	margin: 0 0 8px 0;
	font-size: 20px;
}
#features .option2 .feature .text p {
	margin: 0;
	font-size: 14px;
	line-height: 23px;
}
#features .option2 .right {
	float: right;
}

.feature h2{
margin-top:20px;
}

.feature-tall img {
	margin-top: 80px;
}


/* Footer
-------------------------------------------------- */
#footer {
	min-height: 260px;
	margin-top: 0px;
	background-color: #252528;
	color: #fff;
	font-size:15px;
	padding-top:20px;/* testimonials */
  /* contact */
  /* credits */
  /* inner footer */ }
#footer .footer_header {
	color: #c4c4c4;
	font-style: italic;
	font-weight: 300;
	font-size: 25px;
	margin-bottom: 40px;
	margin-left: 15px;
}
#footer .recent_posts {
	margin-left: 0px;
}
#footer .recent_posts .post {
	margin-bottom: 70px;
	width: 93%;
}
#footer .recent_posts .post img {
	float: left;
	margin-right: 20px;
}
#footer .recent_posts .post .date {
	font-weight: bold;
	font-style: italic;
}
#footer .recent_posts .post .title {
	display: block;
	color: #b5b5b6;
	font-size: 14px;
}
#footer .testimonials .wrapper {
	margin: 0 auto;
	width: 86%;
}
#footer .testimonials .footer_header {
	margin-left: 30px;
}
#footer .testimonials .quote {
	color: #bfbfc0;
}
#footer .testimonials .quote span {
	font-size: 32px;
	font-style: italic;
	position: relative;
	top: 5px;
	font-family: Georgia !important;
	float: left;
	margin-right: 8px;
}
#footer .testimonials .author {
	margin-top: 40px;
}
#footer .testimonials .author img {
	float: left;
	margin-right: 15px;
	position: relative;
	top: -6px;
}
#footer .testimonials .name {
	font-size: 13px;
	font-weight: bold;
}
#footer .testimonials .info {
	font-style: italic;
	color: #ccc;
}
#footer .contact {
	text-align: right;
}
#footer .contact .footer_header {
	text-align: left;
	margin-left: 35px;
}
#footer .contact input[type="text"], #footer .contact textarea {
	border: none;
	background-color: #1f1f21;
	color: #868687;
	padding: 8px 20px;
	border-radius: 3px;
	font-size: 14px;
	font-family: Lato !important;
	width: 95%;
 -webkit-transition: background-color .2s linear;
 -moz-transition: background-color .2s linear;
	margin-bottom: 10px;
}
#footer .contact input[type="text"]:focus, #footer .contact textarea:focus {
	border: none;
	box-shadow: none;
	background-color: #000;
}
 #footer .contact input[type="text"]:moz-placeholder, #footer .contact textarea:moz-placeholder {
 color: #868687;
}
 #footer .contact input[type="text"]::-webkit-input-placeholder, #footer .contact textarea::-webkit-input-placeholder {
 color: #868687;
}
 #footer .contact input[type="text"]:-ms-input-placeholder, #footer .contact textarea:-ms-input-placeholder {
 color: #868687;
}
#footer .contact input[type="submit"] {
	background-color: #3e3e40;
	border: none;
	color: #fff;
	border-radius: 4px;
	padding: 5px 20px;
	font-size: 14px;
	font-weight: bold;
 -webkit-transition: background-color .2s linear;
 -moz-transition: background-color .2s linear;
}
#footer .contact input[type="submit"]:hover {
	background-color: #2190DB;
}
#footer .credits {
	border-top: 1px solid #343437;
	padding: 10px 0px 60px 0px;
}
#footer .credits .social {
	margin-top: 30px;
	text-align: center;
}
#footer .credits .social a {
	margin: 10px;
}
#footer .credits .social a span {
	display: inline-block;
	width: 33px;
	height: 33px;
}
#footer .credits .social a span.ico1, #footer .credits .social a span.icoh {
	background-position: 0px 0px;
}
#footer .credits .social a span.ico2, #footer .credits .social a span.ico2h {
	background-position: -37px 0px;
}
#footer .credits .social a span.ico3, #footer .credits .social a span.ico3h {
	background-position: -75px 0px;
}
#footer .credits .social a span.ico4, #footer .credits .social a span.ico4h {
	background-position: -112px -1px;
}
#footer .credits .social a span.ico5, #footer .credits .social a span.ico5h {
	background-position: -151px 0px;
}
#footer .credits .social a span.ico6, #footer .credits .social a span.ico6h {
	background-position: -188px -1px;
}
#footer .credits .social a span.ico7, #footer .credits .social a span.ico7h {
	background-position: -226px 0px;
}
#footer .credits .social a:hover span.socialicons {
	display: inline-block !important;
}
#footer .credits .social span.socialicons_h {
	display: block;
}
#footer .credits .copyright {
	color: #a6a6a7;
	font-style: italic;
	text-align: center;
	margin-top: 30px;
}
#footer .credits .socialicons {
	background: url("../../img/social-icons.png") no-repeat;
	width: 259px;
	height: 34px;
}
#footer .credits .socialicons_h {
	background: url("../../img/socialicons_h.png") no-repeat;
	width: 265px;
	height: 36px;
}
#footer .info {
	margin-bottom: 10px;
	margin-left: 0;
}
#footer .info .residence {
	margin-left: 0;
}
#footer .info ul {
	margin: 0;
	padding: 0;
}
#footer .info ul li {
	list-style: none;
	font-size: 16px;
	color: #777E83;
	line-height: 23px;
}
#footer .info ul a {
	color: #777E83;
 -webkit-transition: color .2s;
 -moz-transition: color .2s;
 -ms-transition: color .2s;
 transition: color .2s;
}
#footer .info ul a:hover {
	color: #A9B4BB;
}
#footer .info .touch {
	float: right;
}
#footer .info .touch ul li {
	display: inline-block;
	margin-left: 22px;
}
/* Global
-------------------------------------------------- */
.page_header {
	background-color: #000;
	color: #fff;
	font-size: 23px;
	display: inline-block;
	padding: 0px 18px;
}
.social_icon {
	background: url("../../img/social_icons.png") no-repeat;
	width: 110px;
	height: 18px;
}
.contact_social {
	background: url("../../img/contact_social.png") no-repeat;
	width: 180px;
	height: 34px;
}
.navbar .container .collapse .nav .dropdown .dropdown-menu {
	background: #8F8F8F;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	margin-top: 3px;
	right:auto;
	left:0;
	border:none;
}
.navbar-inverse .navbar-nav > .open >a, .navbar-inverse .navbar-nav > .open > a:hover {
	background:#3f91c9;
}
.navbar.navbar-inverse .nav > li.open > a {
	color:#FFF;
}
.navbar.navbar-inverse .nav > li.open > a hover {
	color:#428bca;
}
.navbar-inverse .navbar-nav > a, .navbar-inverse .navbar-nav > a:hover {
	background:#8F8F8F;
}


#banner-1 {
	display:none;
}

#service_img {width:200px;}


/*
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {float:left;}
.container {max-width:1170px;}
.col-sm-4 {width:33.33%;}
.col-sm-6 {width:50%;}
*/

h1 {margin-top:10;}
.well {border:none;}


.bg-grey {background-color:#f5f6f5;padding:20px 0;margin:0px 0 0 0;border-bottom:2px solid #999999;}




.bg-grey {background-color:#f5f6f5;padding:20px 0;margin:0px 0 0 0;border-bottom:2px solid #999999;}


.bg-grey-3 {border-bottom:2px solid #999999;}


.bg-white {background-color:#fff;padding:20px 0;margin:0px 0 0 0;border-bottom:2px solid #999999;}


.well-sm {padding-top:3px;}


.carousel-holder {padding-top:20px; }

#p6 a {font-size:18px;}




.partners-footer-holder {
padding-top:10px;
}




.special-holder {
border-top:none;
outline:none;
border-bottom:2px solid #cccccc;
margin:20px 0;
}

.learn-more h2 {margin-top:0;}


address span {display:block;}


/* Responsive
-------------------------------------------------- */
@media (max-width: 1120px) {
 div.info h1, div.info ul {
width:360px;
}
 div.info ul {
width:310px;
}
}
 @media (max-width: 1024px) {
 body {
/*  padding-top: 0 !important; */
}
 .navbar-toggle {
 background-color:#428bca;
border-color:#428bca!important;
}
 .navbar-toggle:hover {
 background-color:#2f6db5!important;
}
 .navbar.navbar-inverse {
 background: #f8f8f8;
}
}
 @media (min-width: 768px) and (max-width: 991px) {
 div.info h1, div.info ul {
width:360px;
}
 .navbar {
 margin-bottom: 0;
}
 #footer {
/*  font-size: 14px; */
  }
 .navbar.transparent.navbar-fixed-top {
 margin-bottom: -70px;
 position: relative;
 top: 999;
}
 .navbar.home.navbar-fixed-top {
 margin-bottom: -70px;
 position: relative;
 top: 999;
}
}
 @media (max-width: 768px) {
 #banner-1 { text-align:center;
display:block;
margin:0 auto;
}
 .navbar.navbar-inverse .container .navbar-header .navbar-brand {
 margin-left: -5px;
}
 .navbar .navbar-nav .open .dropdown-menu > li > a {
 line-height: 25px;
 font-weight: bold;
 padding: 5px 15px 5px 35px;
}
 #footer {
/* font-size: 10px; */
  }
 #footer .container {
 padding: 0px 20px;
}
 #footer .footer_header {
 margin-left: 0;
}
 #footer .footer_header h3 {
 margin-left: 0;
}
 #footer .testimonials {
 overflow: hidden;
 margin-bottom: 40px;
}
 #footer .testimonials .footer_header {
 margin-left: 0;
}
 #footer .testimonials .wrapper {
 float: left;
 width: 100%;
}
 #footer .contact {
 margin: 0;
}
 #footer .contact .footer_header {
 margin-left: 0;
}
 #footer .contact input[type="text"], #footer .contact textarea {
 float: left;
 width: 100%;
}
 #footer .info .touch {
 float: none;
}
 #footer .info .touch ul {
 margin: 15px 0 15px;
}
 #footer .info .touch ul li {
 margin: 0 30px 0 0;
}
 #footer .credits {
 margin-top: 20px;
}
}



.bottom-three {
	border-top:#696969 10px solid;
	padding:14px;
	text-align:center;
	background:#F0F0F0;
	width:29.33333333333333%;
	margin-left:16px;
	float:left;
	margin-right: 30px;
}




 @media (min-width:1200px) {
 .banner-holder {margin-top:0;}

 }



@media (min-width: 992px) and (max-width: 1199px) {

.bottom-three {
 	width:28.4%;
 margin-left:16px;
}
.banner-holder {margin-top:0;}
}





@media (min-width: 768px) and (max-width: 991px) {
.bottom-three {
 border-top:#696969 10px solid;
 padding:16px;
 text-align:center;
 background:#F0F0F0;
 width:100%;
 margin-top:36px;
 margin-left:0;
 float:left;
 height:198px;
}
.banner-holder {margin-top:0;}
}





@media   (min-width: 568px) and (max-width: 767px) {
.bottom-three {
 border-top:#696969 10px solid;
 padding:16px;
 text-align:center;
 background:#F0F0F0;
 width:100%;
 margin-top:36px;
 margin-left:0;
 float:left;
 height:198px;

}

}


@media  (min-width:321px) and (max-width: 567px) {
.bottom-three {
 border-top:#696969 10px solid;
 padding:16px;
 text-align:center;
 background:#F0F0F0;
 width:100%;
 margin-top:36px;
 margin-left:0;
 float:left;
 height:198px;

}

 }





 .navbar-inverse .navbar-toggle {
border-color:  #428bca;
}
 .navbar-inverse .navbar-toggle:focus {
background-color: #428bca;
}
 .navbar.navbar-inverse .nav > li > a {
margin-right: 0px;
}
}
/*.row.features .col-sm-12 h2 {margin-left:-10px !important}

.row.features{margin-left: -24px !important;}*/

/*
img.slider1 {
	top:0px !important;
}
img.slider2 {
	top:37px !important;
}
img.slider3 {
	top:0px !important;
}
img.slider4 {
	top:48px !important;
}
img.slider5a {
	top:114px !important;
}
img.slider5b {
	top:10px !important;
}
h4.thenewsextra {
	margin-top:62px !important;
}
*/

/* Ripe Styles */
#solutionDiv .well-sm {
	border-radius:0px;
	-moz-border-radius: 0px;

    padding-left:68px;
	padding-right:68px;
}

#solutionDiv p {
	font-size: 16px;
}


#solutionDiv #box-top {
	padding-bottom:6px;
	padding-top:0;
}

.img-box-small  img {
	width:140px;
	max-height: 80px;
}

.header-spacer{
margin-top:78px;
display:inline-block;
}


.img-box img{margin-top:20px;}
.img-box {height:210px;padding-bottom:10px;text-align:center;}
#solutionDiv #img0{margin-left:48px; margin-top: 5px;}
#solutionDiv #div0{padding-right:48px; padding-top: -21px !important;}

#solutionDiv #p0{margin-right: 36px;}
#solutionDiv #div1{background-color: #f5f6f5;}
#solutionDiv #div2{padding-bottom:12px; padding-top:8px; margin-left:68px;}
#solutionDiv #div3{background:none; border-top:none;}
#solutionDiv #div4{ padding-top: 0px; }
#solutionDiv #div5{margin-bottom:0px; border-bottom: none; padding-bottom: 16px;}
#solutionDiv #div6{padding-right:88px;}
#solutionDiv #div7{border-top:none;   background-color: #f5f6f5;}
#solutionDiv #div8{padding-bottom:12px; padding-top:8px; margin-left:68px; margin-top: -28px;}

#solutionDiv #img1{float:right; margin-top:32px; margin-right:48px;}
#solutionDiv #img2{margin-left:48px;margin-top: 30px;}
#solutionDiv #img3{float:right; margin-right:48px; margin-top: 33px;}

.feature_wrapper {
	text-align:center;
	padding-left:36px;
	padding-top:18px;
	padding-bottom:18px;
	background:none;
}

.feature_wrapper h1 {
	margin-top:0;
	text-align:left;
	padding-left:70px;
}

#footer #div0{padding-left:48px; padding-bottom: 20px;}
#footer #div1{padding:0;}
#footer #ul0{list-style:none; padding-left:0; padding-right:0;}
#footer #div2{padding:0;}
#footer #ul1{list-style:none; padding-left:0; padding-right:0;}
#footer #div3{padding:0;}
#footer #ul2{list-style:none; padding-left:0; padding-right:0;}
#footer #div4{padding:0;}
#footer #ul3{list-style:none; padding-left:0; padding-right:0;}
#footer #div5{padding:0; margin-right:6px;}
#footer #ul4{list-style:none; padding-left:0; padding-right:0;}
#footer #div6{max-width:68%; margin: 0 auto; border-top:#999 1px inset;}
#footer #div7{text-align:center; width:100%;}
#footer #strong0{text-decoration:underline;}
#footer #p0{color:#CCC;}

#api-management .col-sm-6 {
	text-align: left;
}

#api-management #div0{border-radius:0px; -moz-border-radius: 0px; padding-left:68px; padding-right:68px;}
#api-management #img0{margin:0 auto;}
#api-management #box-top{padding-bottom:6px; padding-top:0;}
#api-management #img1{margin-left:48px; margin-top: 55px;}
#api-management #img1b{margin-left:48px; margin-top: 5px;}

#api-management #div1{padding-right:48px; padding-top: -21px !important;}
#api-management #p0{font-size: 16px; margin-right: 36px;}
#api-management #a0{margin-top:16px;}
#api-management #div2{background-color: #f5f6f5;}
#api-management #div3{padding-bottom:12px; padding-top:8px;  }


#api-management #img2b {float:right; margin-top:32px; margin-right:48px;}

#api-management #p1{font-size:16px;}
#api-management #span0{display:block; padding-right:12px; margin-top: 16px;}
#api-management #a1{margin-top:16px;}
#api-management #div4{background:none; border-top:none;}
#api-management #div5{ padding-top: 0px;}
#api-management #div6{margin-bottom:0px; border-bottom: none; padding-bottom: 16px;}
#api-management #div7{ }
#api-management #img3{margin-left:48px;margin-top: 30px;}
#api-management #img3b {margin-left:48px;margin-top: 30px;}

#api-management #p2{font-size:16px;}
#api-management #a2{margin-top:16px;}
#api-management #div8{border-top:none;   background-color: #f5f6f5;}

.bg-grey-2 {background-color:#fff;padding:20px 0;margin:0px 0 0 0;border-bottom:2px solid #999999!important;}
.bg-grey {border-bottom:2px solid #999999;}
.col-sm-6 {

}

.img-center {text-align:center!important;}


#api-management #div9{padding-bottom:12px; padding-top:8px; margin-left:68px;}
#api-management #img4{float:right; margin-right:48px; margin-top: 63px;}
#api-management #img4b {float:right; margin-right:48px; margin-top: 33px;}
#api-management #p3{font-size:16px;}
#api-management #span1{display:block; padding-right:12px; margin-top: 16px;}
#api-management #a3{margin-top:16px;}
#api-management .well {}

img.margin-top-5px {margin-top: 5px !important;}
img.margin-top-10px {margin-top: 10px !important;}
img.margin-top-15px {margin-top: 15px !important;}
img.margin-top-20px {margin-top: 20px !important;}
img.margin-top-25px {margin-top: 25px !important;}
img.margin-top-30px {margin-top: 30px !important;}
img.margin-top-35px {margin-top: 35px !important;}
img.margin-top-40px {margin-top: 40px !important;}
img.margin-top-45px {margin-top: 45px !important;}
img.margin-top-50px {margin-top: 50px !important;}
img.margin-top-55px {margin-top: 55px !important;}
img.margin-top-60px {margin-top: 60px !important;}
img.margin-top-65px {margin-top: 65px !important;}
img.margin-top-70px {margin-top: 70px !important;}
img.margin-top-75px {margin-top: 75px !important;}
img.margin-top-80px {margin-top: 80px !important;}
img.margin-top-85px {margin-top: 85px !important;}
img.margin-top-90px {margin-top: 90px !important;}
img.margin-top-95px {margin-top: 95px !important;}
img.margin-top-100px {margin-top: 100px !important;}
img.margin-top-105px {margin-top: 105px !important;}
img.margin-top-110px {margin-top: 110px !important;}


.home_pull_top #ul0{color:#FFF;}
.home_pull_top #div0{border-radius:0px; -moz-border-radius: 0px; margin-top:0px; background-color: #FFF;}
.home_pull_top #h10{margin-bottom: 6px; }
.home_pull_top #span0{font-weight:normal; padding-top:12px;}
.home_pull_top #div1{text-align:center;}
.home_pull_top #div2{margin-top:12px;}
.home_pull_top #div3{padding:0;}
.home_pull_top #div4{padding:0;}
.home_pull_top #div5{padding:0;}
.home_pull_top #box-top{padding-bottom:10px; padding-top:0;}
.home_pull_top #div6{padding-top:16px;}
.home_pull_top #img0{margin-left:48px; margin-bottom:5px;}
.home_pull_top #div7{padding-right:48px;}
.home_pull_top #p0{font-size: 16px; margin-right: 36px; padding-top:8px;}
.home_pull_top #a0{margin-top:16px;}
.home_pull_top #box-middle{padding-bottom:12px; padding-top:8px; margin-left:0px;}
.home_pull_top #img1{float:right; margin-top:16px;}
.home_pull_top #p1{font-size:16px; padding-top:8px;}
.home_pull_top #span1{display:block; padding-right:12px; margin-top: 16px;}
.home_pull_top #a1{margin-top:16px;}
.home_pull_top #div8{background:none; border-top:none;}
.home_pull_top #div9{ padding-top: 16px;}
.home_pull_top #box-bottom{margin-bottom:0px; border-bottom: none; padding-bottom: 16px;}
.home_pull_top #div10{padding-right:88px;}
.home_pull_top #img2{margin-left:0px;}
.home_pull_top #p2{font-size:16px; padding-top:8px;}
.home_pull_top #a2{margin-top:16px;}
.home_pull_top #p3{font-size:18px;}
.home_pull_top #p4{font-size:15px;}
.home_pull_top #p5{font-size:18px;}
.home_pull_top #div11{font-size:15px;}
.home_pull_top #h40{background:#CACACA;}
.home_pull_top #p6{font-size:16px;}
.home_pull_top #p7{font-size:15px;}
.home_pull_top #h41{background:#CACACA;}
.home_pull_top #p8{font-size:18px;}
.home_pull_top #p9{font-size:18px;}
.home_pull_top #p10{font-size:15px;}
.home_pull_top #div12{margin-top:16px;}
.home_pull_top #h30{background:none; margin-top:0; color:#696969;}
.home_pull_top #p11{font-size:17px; line-height: 1.5;}

.semantics-page #div0{padding-left:0; padding-right:0; margin-top:58px;}
.semantics-page #div1{font-size:15px; /*padding:24px;*/}
.semantics-page #solutions-top{background-image:url('/images/img-semantics-240h.png'); min-height: 220px;}

.solutions-template-column {
	margin-left: 24px;
	margin-right: 55px;

}

#p5 {}

.board-holder {
margin-bottom:20px;

}


#policy_img {width:160px;}

.container-grid-footer a {font-weight:bold; font-size:18px;}

.board-holder h2 {
border:none;
margin-top:0;
}

.solutions-template-container {
	padding-left:0;
	padding-right:0;

}
.products-template-container {
	padding-left: 20px;
	padding-right: 0;
}
.products-template-row {

}

hr .styled .margin {
	margin-left: 0px;
}

h2 {
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}

h1 {
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}


.img-200 {width:200px;margin-bottom:40px; }

.matrix h1, .matrix h2{
border-bottom:none;

}

#feature_slider h1 {border-bottom:none;margin-bottom:10px;padding-bottom:0!important;}



.learn-more h1, .learn-more h2{
border-bottom:none;
text-align: left;
}







@media (min-width: 992px) and (max-width: 1199px) {

.thumbnail {
width:220px!important;
height:120px!important;
}

#showcase {
margin-top:80px!important;
}

.in-the-news img {
width:110px!important;
}

}



@media (min-width: 768px) and (max-width: 991px) {
.thumbnail {
width:260px;
}

.in-the-news img {
width:80px!important;
}

#showcase {
margin-top:80px!important;
}


body > section {
/* margin-top:83px; */

}


}



@media (min-width: 568px) and (max-width: 767px) {


#showcase {
margin-top:80px!important;

}
body > section {
/* margin-top:83px; */

}


}


@media  (min-width:321px) and (max-width: 567px) {

.thumbnail {
width:220px!important;
height:100px!important;
}

body > section {
/* margin-top:83px; */

}



#showcase {
margin-top:70px!important;
}

}






@media screen and (min-width: 1200px) {


.thumbnail {
width:220px!important;
height:110px!important;}

}

/*---------------------------------------- Added w/JH 7/19/19 to fix footer to PF branding ----------------------------------------*/
#footer {
    border-top: 3px solid #d9d8d8; 
    background-color: #fff;
    padding-top: 30px;
}
#footer li {
    font-size: 12px;
    line-height: 19.2px;
}
#footer strong {
    color: #000;
    display: block;
    font-size: 19.2px;
    font-weight: normal;
    line-height: 30.72px;
}
#footer a {
    color: #777;
}
#footer #div6 {
    border-top: 1px solid #d9d8d8;
}
/*---------------------------------------- End of section added 7/19/19 to fix footer to PF branding ----------------------------------------*/
