/* CSS Document */
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans');/* 
@charset "utf-8";

/* reset all of the default settings that the browser uses */
html, body, h1, h2, h3, h4, p, ol, ul, li, a {
   padding: 0;
   border: 0;
   margin: 0;
}

.content {
  float: right;
  width: 100%;
  background-color: #FFFFFF;
  margin-left: -50px;	
}
.TOC {
 float: left;
 width: 65%;
 margin-left: 120px;
 margin-top: 25px;
 padding: 5px;
}

.TOC a {
    color: #000000;
}

.toc2,
.toc3 {
    padding: 5px;
}
#cleared {
  clear: both;
}
/* TOC styles */

.toc2 {
	font-size: 14px;
}

.toc3 {
	font-size: 14px;
}

.toc4 {
	font-size: 12px;
    margin: 0 0 0 35px;	
}

/* header from docs.rw */

header {
    overflow: hidden;
    margin: -12 -10 0 -10;
}

.nav {
    background-color: #ecedef;
    height: 75px;  /* changed to make smaller */
    width: 110%;
    margin-bottom: -15px;
}

.logo {
    float: left;
    margin-left: 19%;
    margin-top: 10px;
}

.header-right {
    float: right;
    padding-top: 10px;
    margin-right: 26%; 
}

.contact-us {
    float: left;
    margin-right: 15px;
}

.support-buttons {
    float: left;
}

.favicon {
    float: left;
    filter: brightness(0) invert(1);
    margin: 8 50 5 8;
    height: 28px;
    width: 28px;
}

.btn-support {
    width: 25%;
    height: 40%;
    margin-right: 2px;
}

.btn-click {
    width: 70%;
    height: 40%;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

.btn-support,
.btn-click {
    display: inline-block;
    background-color: #666666;
    float: left;
    border-radius: 3px;
}

.btn-click:hover,
.btn-support:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #e8262a;
}

.icon-big {
    font-size: 150%;
    display: inline-block;
    color: #2f6db5;
    margin-right: 5px;
}

.icon-big a:link {
    color: #666666;
}


.main-nav a {
    margin-left: 22%;
    color: #404040;
    font-size: 15px;
}

.navigation-links {
    background-color: #ecedef;
    height: 55px;
    padding-top: 1%;
}

.navigation-links a:first-child {
    margin-left: 21%;
}

.navigation-links a {
    color: #404040;
	font-weight: bold;
    margin-right: 3%;
    font-size: 16px;
}

.navigation-links a:hover {
    color: #e8262a;
    font-weight: bold;
    text-decoration: none;
    border: 0;
}

.bottom-line {
    background-color: #404040;
    height: 1px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
/* Akana styles */

.aa_draft {
   font-weight: bold;
   color: red;
   font-size: 36px;
}

/* Defines a new release section.
   Needs no formatting*/
.New {}

.supID {
   margin: 0 0 0 20px;
   color: #666666;
   line-height: 1em   
}

.aa_version-date {
   margin: -15 0 0 20px;
   color: #666666;
   font-weight: 700;
}

.vervar {
	color: #2f6db5;
	font-family: 'Calibri',sans-serif;
	font-size: 22px;
	font-weight: 600;
    margin: 0px 0px 5px 20px;
}

.apivervar {
   font-size: 14px;
   margin: 0 0 0 0px;
   color: #414042;
   font-weight:600; 
}

.issue {
   font-size: 11px;
   margin: 0 0 0 30px;
}

/* Used for supID content copied from Word */
.supID-from-word {
   font-size: 14px;
   margin: 0 0 0 0px;
   color: #002B49;		
}

/* Generated review copies display this */
.source {
	font-size: 12px;
	margin: 0 0 0 30px;
    font-size: 11px;	
}
/* Used for ATMO content copied from Word */
.source-hide {
	color: #ff0000;
    display: none;
	font-size: 2px;	
}

/* PDF only: kluge to add new lines for pagination */
.pdf-newline {
    display: none;
}

.hidden {
    display: none;
}

.review_status {
	color: #006400;
	font-size: 11px;	
}

.note {
	 /* color: #5293AD; */
	 font-weight:normal;
	 margin:15px 5px 15px 20px;
	 display:block;
}

.aa_bannerText {
	 color: #ffffff;
	 font-size: 16px;
	 font-weight:normal;
	 margin:35px 35px 35px 35px;
}

/* Extra wide div to accommodate long code lines in PDF */
.wide-section {
	 margin:5px 0px 5px 0px;
	 padding: 0px;
	 overflow: visible;
}

/* Overriding the Jira styles */
/* Overriding the Jira styles */
.syntaxplugin 
{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin: 0 0 0 20px;	
	padding: 3px;
    background-color: #EBF5FB;
    color: #2471A3;
	font-size: 12px;
	border-color: #EBF5FB !important;
	overflow: hidden !important;
                               
}

/* Overriding the Jira styles */
#syntaxplugin {
	border-color: #ffffff !important;	
    
}

/* Setting confluence built-in style */
.error {
	color: red;
}

.code
{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin: 0 0 0 20px;	
	padding: 3px;
    background-color: #EBF5FB;
	border-color: #EBF5FB;	
   /* color: #2471A3; */
	font-size: 14px;
	white-space: pre;
	overflow: hidden;
}

.code-inline
{
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	padding: 3px;
	border-color: #EBF5FB;	
    color: #2471A3;
	font-size: 13px;
	white-space: pre;
}

/* Overriding bootstrap */
pre {
  background-color: transparent; 
  border: 0px; 
}

/* Overriding bootstrap in favor of Klocwork's skin.css k 
a {
  color: #288dc0;
}

a:hover, a:focus {
  color: #1b5f81;
}
*/


/* New Perforce link colors 
a:link
{
	color: #2f6db5;
	text-decoration: none;
}

a:visited
{
	color: #076685;
	text-decoration: none;
}
*/

p.red {
	font-size: 14px;
	margin: 0 0 0 30px;
	line-height: 1.7em;
	color: #F9081F;
}
.red {
	color: red;
}

.centered {
	text-align: center;
}

.small {
	font-size: 10px;
}

.timestamp {
	font-size: 16px;
}
   
.Bullet1 {
/* undefined */	
}
 
body{
   font-family: 'Calibri', sans-serif;
   font-size: 16px;
   padding: 1em 1em 1em 1em;
   margin: 0 0 0 0px;	
}

body.small {
	font-size: 10px;
	color: #EC0E11;
}

p {
   font-family: 'Calibri', sans-serif;	
   font-size: 16px;
   margin: 0 0 0 20px;
   line-height: 1.7em;	
   padding-top: .5em;                      
}

/* overrides the default, very small p style. Use like this: <p class="large">    */
p.large {
   font-size: 18px;
   margin: 0 0 0 20px;
   padding: 10px;
   line-height: 1.6em;
}

/* Perforce colors blue, #2f6db5; gray, #404040; dark blue, #12234B    */
h1 {
	color: #2f6db5;
	font-family: 'Calibri', sans-serif;
	font-size: 40px;
	font-weight: 600;
    padding-top: 1em;	
    margin-left: 20px;	
}

h2 {
	color: #2f6db5;
	font-family: 'Calibri',sans-serif;
	font-size: 30px;
	font-weight: 200;	
    border-bottom: 1px solid #CCCCCC;
    margin: 50px 0 10px 20x;
   }
   
h3 {
	color: #2f6db5;
	font-family: 'Calibri',sans-serif;
	font-size: 26px;
	font-weight: 400;
    margin: 35px 0 5px 20px;
    border-top: 1px solid #CCCCCC;
	padding-top: 10px;
}

h4 {
	color: #2f6db5;
	font-family: 'Calibri',sans-serif;
	font-size: 22px;
    /* font-style: italic; */
	font-weight: 600;
    margin: 20px 0px 5px 20px;
}

h5 {
	color: #666666;
	font-family: 'Calibri',sans-serif;
	font-size: 19px;
	font-weight: 600;
    margin: 15px 0 5px 20px;
    line-height: 1.6em; 
    padding-top: .25em;	                  
}

h6 {
	color: #666666;
	font-family: 'Calibri',sans-serif;
	font-size: 16px;
	font-weight: 400;
    margin: 10px 0px 5px 20px;
	text-align: left;	
}

ul {
      margin: 0 0 0 40px;
      padding: 0 0 0 10px;
      line-height: 1.7em;	
}

ol {
      margin: 0 0 0 40px;
      padding: 0 0 0 10px;
      line-height: 1.7em;	
}

table, th, td {
    border-collapse: collapse;
	border: 1px solid #fffff;
	font-size: 13px;
	/* color: #264d73; */
    padding: 3px;
    margin-left: 20px;
	text-align: left;
}

/* Custom Akana table because Confluence uses the regular table for its code style */
.table-akana, th, td {
    border-collapse: collapse;
	border: 2px solid #e0dfe1;
	font-size: 14px;
    padding: 10px;
    margin-left: 20px;
	text-align: left;
}
/* Override td to avoid borders in code */
.table, td {
	border: 0px;
}


/* Override imported Confluence table heading */
.confluenceTh {
    text-align: left !important;
    border-collapse: collapse;	
	font-size: 16px;
	border: 1px solid #a3a3a3;
    padding: 3px;	
}

.confluenceTd {
    text-align: left !important;
    border-collapse: collapse;	
	font-size: 16px;
	border: 1px solid #a3a3a3;
}

.confluenceTable {
    border: 0px #a3a3a3 !important;
}

/* Override user agent stylesheet since this was too large */
tt {
    font-family: monospace;
	font-size: 14px;
}

/* Watermark for drafts */
#watermark{
    position:absolute;
	left: 30%;
	top: 200px;
    z-index:0;  /* set this behind other elements */
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
}

#watermark-text
{
    color:red;
	opacity: 0.15;
    font-size:150px;
    transform:rotate(15deg);
    /*-webkit-transform:rotate(400deg);*/
}
