<!DOCTYPE html>
<html lang="en">
	<head>
		{% include header %}
		{% include unsorted-pages-all %}
	</head>
	<body>
		{% include top-bar-with-nav %}
		<div class="soa-ui-dc-container-main soa-ui-dc-clearthis">
			{{ content }}
			<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis nocontent">
				<li class="soa-ui-dc-detail-column" data-limit="0" data-prod="{{ page.product }}" data-cat="gs">
					<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/{{ page.product }}/getting-started.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4>

				</li>
				<li class="soa-ui-dc-detail-column" data-limit="0" data-prod="{{ page.product }}" data-cat="learn">
					<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/{{ page.product }}/learning.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4>

				</li>
				<li class="soa-ui-dc-detail-column" data-limit="0" data-prod="{{ page.product }}" data-cat="ref">
					<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/{{ page.product }}/reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4>

				</li>
			</ul>
			<!-- 3-col index ends here -->
			{% include footer %}
		</div>
		{% include prod-cat-column %}
	</body>
</html>
