<!DOCTYPE html>
<html lang="en">
	{% include header %}
	<body class="soa-ui-dc-homepage">
	    <div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
	        {% include logo %}
	        <div class="soa-ui-dc-topsearch-container">
				<form class="soa-ui-dc-topsearch" action="{{ site.baseurl }}/search.html" method="get">
					<label for="soa-control-dc-search" class="soa-ui-dc-label soa-ui-dc-label-hidden">Enter Search Text</label>
					<input type="text" id="search-query" class="search-query" name="q" placeholder="Search" autocomplete="off" class="soa-ui-dc-topsearch-input">
					<button class="soa-ui-dc-topsearch-button soa-ui-dc-icon-imgtxt soa-ui-dc-icon-magnifying-glass" type="button">Search</button>
				</form>
			</div>
	    </div>
	    <div class="soa-ui-dc-container-main">
			{{ content }}
		</div>
		{% include footer %}
	</body>
</html>